[2018-07-14 15:11] ritwikbiswas commented on #432
I was running into this same exact issue until I updated to the latest version of the image. From your vision kit run:

`sudo apt-get update; sudo apt-get upgrade; sudo reboot`

[2018-07-14 15:18] ritwikbiswas commented on #433
@dmitriykovalev

What use cases will this work for? I'm trying to achieve a similar thing but feeding a camera stream into two different models in the same script. Looking at the source code (`inference.py`) it looks like calling load_model() multiple times will overwrite the previous loaded model.

Is there a way to run two models simultaneously?

[2018-07-14 15:20] ritwikbiswas commented on #431
What does your full call to `test_run_model_on_bonnet.py` look like?

[2018-07-14 15:32] Aileenlingyu commented on #431
Hi @ritwikbiswas, I am using the following command to run:
python3 ~/AIY-projects-python/src/examples/vision/test_run_model_on_bonnet.py \
  --model_path ~/models/my-graph.binaryproto \
  --input_height 64 \
  --input_width 64

[2018-07-14 16:14] ritwikbiswas commented on #431
What about your labels path? And your input and output layers?

Does your input heigh and width match that of your input heigh/width when you compiled the model?

[2018-07-14 16:44] dmitriykovalev commented on #331
@SK-Github No, your mapping is incorrect. Pins A, B, C, D, and both LEDs are connected to the separate microcontroller on the bonnet board. There is a separate Linux driver for it and `pins.py` communicates with the driver via sysfs.

[2018-07-14 22:37] SK-Github commented on #331
@dmitriykovalev Thank you so much for the quick reply!

[2018-07-15 14:38] dmitriykovalev commented on #331
@SK-Github No problem, all this information will be added to the doc files in the next release.

[2018-07-15 14:42] dmitriykovalev commented on #433
@ritwikbiswas Each model has unique identifier (`model_name` in python code), it's possible to load multiple models at the same time and then use that identifier to reference them. The tricky part is that you can only use one model for camera inference (at least for now), you cannot process each camera frame with more than one model.

[2018-07-15 14:46] dmitriykovalev commented on #432
@barnwal-paras Did you run the same update command as @ritwikbiswas  did?  Updating like this could cause a problem, please try to use our SD-card image if possible.

[2018-07-15 15:00] Aileenlingyu commented on #433
Hi @dmitriykovalev , thanks for the suggestion! Is that possible to process the each camera frame with only one model but add a post-processing using another model?

[2018-07-15 15:24] ritwikbiswas commented on #432
@dmitriykovalev Just as a heads up those update commands were pulled directly from here:

https://aiyprojects.withgoogle.com/help/#updating-your-sd-card

Should I not use them in the future?

[2018-07-15 18:06] JakeMalis commented on #411
@weiranzhao
Hi Weiran,

I am just starting out on Tensorflow & AIY Vision Kit. I am able to completely build Tensorflow for Poets on Colab as well as on a GCE instance (NVIDIA K80 GPU). I do this with 160 size and 0.5.

I then compile the PB file into a BinaryProto and upload it (and the retrained_labels.txt) to the RPI. When I run the mobilenet_based_classifier.py file, the program crashes after

[2018-07-15 18:14] JakeMalis commented on #432
I am having the same issues as the folks above.

I am just starting out on Tensorflow & AIY Vision Kit. I am able to completely build Tensorflow for Poets on Colab as well as on a GCE instance (NVIDIA K80 GPU). I do this with 160 size and 0.5.

I then compile the PB file into a BinaryProto and upload it (and the retrained_labels.txt) to the RPI. When I run the mobilenet_based_classifier.py file, t

[2018-07-16 05:19] dmitriykovalev commented on #433
@Aileenlingyu Currently this is not possible but could be implemented in future. I'll mark this issue with "enhancement" label.

[2018-07-16 05:20] manoj7410 commented on #407
@dkarma ,
I see that you have already contacted support-aiyprojects@google.com for a replacement. Don't worry, your issue will be resolved.

[2018-07-16 05:28] manoj7410 commented on #380
@PatrickUtz
Try to run the following commands:

echo "default-sample-rate = 48000" > ~/.config/pulse/daemon.conf
sudo rm ~/.asoundrc
sudo rm /etc/asound.conf

Then reboot and try assistant library demo on.

[2018-07-16 10:09] dmitriykovalev commented on #426
We are going to update installation instructions (HACKING.md file) in the next SD card release. There is a low-level Linux driver called `aiy-vision` to communicate with the bonnet.

[2018-07-16 17:50] weiran-work commented on #432
@JakeBMalis
Did you update your SD card to the latest version? To support deploying retrained model, you need to use the latest version of SD card.
https://aiyprojects.withgoogle.com/help/#updating-your-sd-card

Could you paste the output of
cat /etc/aiyprojects.info

and dpkg -l aiy*?

Thanks

[2018-07-16 18:00] weiran-work commented on #431
@Aileenlingyu
It seems like you are building a model with 64x64 input, I don't think this is a supported configuration for Vision Kit.
https://aiyprojects.withgoogle.com/vision/#makers-guide--tensorflow-model-compiler

[2018-07-16 19:52] Aileenlingyu commented on #431
Hi @ritwikbiswas  , I am using a regression model rather than the classification, so I do not have labels. Yes the input height and width are exactly same as the values for compiling. Is it possible for me to use a regression model? Thanks much!

[2018-07-16 20:00] Aileenlingyu commented on #432
Hi @dmitriykovalev , I update my SD card image as as @ritwikbiswas did, but I am still having the same problem, did you mean we should reflash SD card directly?
![9502842](https://user-images.githubusercontent.com/22608026/42780515-6ac193b6-8911-11e8-9bcb-bd3f7a3bf82e.jpg)

Thanks much!

[2018-07-16 20:12] joseska commented on #387
@hiramvillarreal yo lo tengo funcionando en español. tanto el "assistant_library_demo.py" como el "assistant_library_with_local_commands_demo.py". Lo que he hecho es instalar el google assistant python sdk (https://developers.google.com/assistant/sdk/guides/library/python/) y a la hora de configurarlo en la aplicacion del movil lo pongo en español.

una vez hecho esto, tanto si lo inicio con "goog

[2018-07-16 22:12] wuhland opened #434 "longer short flex"
I would like to use the AIY vision setup in conjunction with another peripheral attached in between the Vision Bonnet and the RPi. Sadly the short flex is a wee bit short to accommodate this. Are there somewhat longer versions of this flex available anywhere?

[2018-07-17 01:41] dmitriykovalev commented on #432
@Aileenlingyu Right, reflash SD card directly from the latest image file from https://github.com/google/aiyprojects-raspbian/releases

[2018-07-17 02:46] hiramvillarreal commented on #387
@joseskaMuchas gracias, si ya había intentado ese método por seguía sin salirme la opción de español en móvil deja lo intento en esta imagen de SD que ya llevo varios intentos, también yo  a  veces no se qué hago la verdad lástima que el Git de AIY se ha vuelto tan desordenado, lo intento de nuevo por cierto tengo todo los componentes para hacer este proyecto:

https://www.youtube.com/watch?v=rIYd

[2018-07-17 06:52] jessecha commented on #426
Thank you. Raspbian is such a painful OS to use because a lot of packages have to be compiled from source.

[2018-07-17 16:16] Aileenlingyu commented on #432
Hi @dmitriykovalev , thank you for the suggestion! After re-flashing my SD card, I am now able to successfully test almost all built-in models such as mobilenet_v1_160res_0.5_imagenet.binaryproto, while I am still having the error when I tried the following cmd:
`python3 test_run_model_on_bonnet.py --model_path face_detection.binaryproto --input_height 1640 --input_width 1232`

Could you please ad

[2018-07-17 17:23] weiran-work commented on #432
@Aileenlingyu
face_detection.binaryproto is a very special case, i.e., it is a collection of models. That is why it does not have a corresponding TF frozen graph. But if you really want to test that, you can try to change name='test_run_model', to  name='FaceDetection' in test_run_model_on_bonnet.py. You can use the height and width you were using.

[2018-07-17 17:30] weiran-work commented on #421
@drohack Aside from the unsupported operators you might be using. SqueezeNet version of FaceNet might be too big to deploy on VisionKit. Even though it is using 160x160 input, it might be using too many channels in intermediate tensors. If it is possible to train a MobileNet based FaceNet,
input size: 160x160, depth multiplier = 0.5 or
input size: 192x192, depth multiplier = 1.0

It should be stra

[2018-07-17 17:39] Aileenlingyu commented on #431
Hi @weiranzhao , I found the following instruction [here](https://aiyprojects.withgoogle.com/vision/#constraints) suggesting that as long as the input size is a multiple of 8, it will be fine,

is that correct or not? Many thanks!

[2018-07-17 18:08] weiran-work commented on #431
@Aileenlingyu That is like a general guideline. It also depends on the model structure you used and whether operator configuration is supported. The reason I'm concerned about using a 64x64 model input is that if your network is deep, there might be intermediate tensors that have size 2x2xdepth, and  if you use a 3x3 conv kernel on that input, Vision Kit can not handle that case.

This is also why

[2018-07-17 18:10] Aileenlingyu commented on #432
Hi @weiranzhao , thanks a lot! I am now able to test face detection model as well.

[2018-07-17 18:15] Aileenlingyu commented on #431
Hi @weiranzhao, I am using only 3 convolution layers as below,
![graph_large_attrs_key _too_large_attrs limit_attr_size 1024 run](https://user-images.githubusercontent.com/22608026/42837289-abe52492-89cb-11e8-8d57-7e833e0bf9df.png)

I was wondering that, is there any other possible reason I may consider for my case, i.e., there is no error when compiling frozen pb into binaryproto, but getting spi

[2018-07-17 18:29] weiran-work commented on #431
@Aileenlingyu Could you try to get rid of LRN during inference and try again? I don't think LRN is a supported operator.
https://aiyprojects.withgoogle.com/vision/#makers-guide--tensorflow-model-compiler

[2018-07-17 19:50] Aileenlingyu commented on #431
Thanks much, will try!

[2018-07-18 00:24] SK-Github commented on #331
@dmitriykovalev I am trying to conduct a simple experiment on the AIY voice kit V2 as follows: connect a button to GPIO PIN_D. When the button is pressed, light up the green LED (LED_1) on the voice bonnet. When the button is released, turn off the green LED. I used the sample code here as a starting point to do that: https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/examples/vis

[2018-07-18 02:47] dmitriykovalev commented on #331
@SK-Github Thank you for very detailed description! You are correct, pull up/down resistor is required in this case. I guess we need to specify this somewhere in the docs, so I'm putting "enhancement" label to this issue. And let me also double check gpiozero API contract again.

[2018-07-18 17:14] SK-Github commented on #331
@dmitriykovalev With much gratitude for your prompt response and advice. Thank you!

[2018-07-19 20:32] SK-Github commented on #331
@dmitriykovalev

The behaviors of the APIs led.on( ) and led.off( ) for the two LEDs on the voice bonnet:
- Green LED connected to aiy.pins.LED_1
-   Red LED connected to aiy.pins.LED_2

are exactly as I would expect from the gpiozero documentation (section 13.1 here: https://gpiozero.readthedocs.io/en/stable/api_output.html)

However, if I hook up an external LED to PIN_A of the GPIO header, led.

[2018-07-19 23:18] SK-Github commented on #331
@dmitriykovalev
I am hoping to control a micro servo using the GPIO header pins on AIY voice kit V2 and the code here (https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/examples/vision/gpiozero/servo_example.py) based on your comment on this thread on May 14. I get the following errors when I run it in Python3 from dev terminal on the Pi desktop. Can you please let me know what n

[2018-07-20 04:04] dmitriykovalev commented on #331
@SK-Github Regarding `on()` and `off()` for external LEDs — this behavior is a bug. It is already fixed internally and updated code will be released with the new SD card image.

[2018-07-20 11:57] janneoksanen-zz opened #435 "face.bounding_box x and y coordinates are sometimes out of frame"
I'm trying to detect a face and then crop it. Sometimes if I'm far away from the camera I get bounding box coordinates that are outside the frame and the resulting cropped image is just solid black. For example I'm running the camera (and preview) at 1640x922 I get x=1825, y=1060. I've been doing some testing and everything seems to work fine up to about 4.5 meters and then I just get black frames

[2018-07-20 14:31] Aileenlingyu opened #436 "Compiler error: Not enough on-device memory to run model"
Hi, I am trying to compile my own model of which the frozen graph file is around 4.7MB, I use all the supported operations mentioned [here](https://aiyprojects.withgoogle.com/vision/#constraints), but got the error: Not enough on-device memory to run the model
![image](https://user-images.githubusercontent.com/22608026/43007946-ca9d33e6-8c07-11e8-80e2-b6535205b0d7.png)
Is it a problem with my mode

[2018-07-20 15:15] Aileenlingyu commented on #431
@weiranzhao , thank you for your advice! I removed the LRN layer and tried with a simple sub-network, and I am able to successfully pass the test script now.

[2018-07-20 15:15] #431 closed, assigned to nobody

[2018-07-21 21:13] algila commented on #335
TF 1.8, Ubuntu 18.04, bonnet_model_compiler 2018_04_26
I create my own model of SSD MobileNet 256x256 alpha 0,125 in keras then converted in TF. When I try to compile the file .pb the following error occur.

2018-07-21 22:51:06.232817: I external/org_tensorflow/tensorflow/contrib/lite/toco/import_tensorflow.cc:1268] Converting unsupported operation: Prod
2018-07-21 22:51:06.232946: I external/org_

[2018-07-22 17:53] JakeMalis opened #437 "AIY Vision Accuracy"
I am using Colaboratory and starting with "tensorflow-for-poets-2", but using Playing Cards instead for a proof-of-concept. After training (re-training) 60 King of Spades and 60 Queen of Spades, testing a single card of either shows 100% accuracy when running the "label_image" scripts in colab.

When compiling and moving to the AIY Vision Kit, it only is accurate when the card is held inches from

[2018-07-22 21:29] weiran-work commented on #436
@Aileenlingyu
The on-device memory has little to do with your frozen graph size. Having parallel sub-network cost a lot more on-device memory than a single 'tower' network structure, because internally, it needs to keep the unconsumed tensors from other subnetworks while working on one of the subnetwork.

I'm not sure what is your goal here, if you can achieve the same goal with a single tower net

[2018-07-22 21:37] weiran-work commented on #437
@JakeBMalis

When you trained your network, what kinds of images are you using? Are the 60 King/Queen of Spades taken 2-3 feet away from the camera? I'm assuming 100% is the accuracy on training set, what is the accuracy on your testing data set?

Also, when the card is only taking 10% to 20% of the scene, background plays an important role as well, i.e., if you train 60 King/Queen of spaces taken

[2018-07-22 22:48] rollynoel commented on #381
Received the following advice from Google AIY support:
From a terminal window, enter:
echo autospawn = no >> ~/.config/pulse/client.conf
killall pulseaudio
echo "default-sample-rate = 48000" > ~/.config/pulse/daemon.conf
sudo rm ~/.asoundrc
sudo rm /etc/asound.conf

then reboot.

This is working wonderfully well for me (RPi 3B+, Google AIY Voice 2, assistant library demo, "hey Google" spoken.

[2018-07-22 22:48] #381 closed, assigned to nobody

[2018-07-22 22:52] rollynoel commented on #400
I just closed & commented on issue #381 with what I believe is a fix from Google AIY Support to eliminate this problem. I hope it works as well for you as it did for me.

[2018-07-23 17:29] ghost commented on #420
@dmitriykovalev  So I am running into the same issue. In the meantime until the new instruction set comes down, can you point us to where we could obtain the /dev/vision_spicomm files? They weren't present on the included sd card after following the instructions [here](https://aiyprojects.withgoogle.com/help/#updating-your-sd-card).

[2018-07-24 01:20] dchichkov opened #438 "Crash in the bonnet_model_compiler.par on the mobilenet_v1_1.0_128_quant_frozen"
One of your AIY users here.  I need to be able to run exact same model on AIY and x86/GPU, please, can you tell, what kind of quantization does bonnet_model_compiler.par do?  Or can I convert a quantized model back into .pb?    Or can I feed already quantized model into bonnet_model_compiler.par (I'd prefer that, as I like to have it properly calibrated too!)?   The thing crashes on me with "F exp

[2018-07-24 04:21] llealgt commented on #177
I'm having this issue using a PI Zero WH using the old kit , since the new version of the kit includes a PI Zero WH i suppose there's got to be a way to run the demos using PI Zero WH, what's the difference between the new and old kit that makes this possible? and how can we use the old version kit to run all demos?

[2018-07-24 05:35] coryd5456 commented on #356
Okay, I found a solution for mine. I noticed that all my custom commands seemed to be at the proper volume, but their assistant voice was the thing that was low. To increase the volume of the assistant I said " Okay Google louder". Saying this 3 times got the volume of the assistant to a desirable level. This didn't change the audio test at all. However, the assistant seems to speak at a desirable

[2018-07-24 06:20] dmitriykovalev commented on #177
@llealgt Which SD-card image do you use to run demos? Have you tried the latest one from https://github.com/google/aiyprojects-raspbian/releases?

[2018-07-24 06:23] dmitriykovalev commented on #420
@nicknauert `/dev/vision_spicomm` is not a regular file, it is a device node created by `aiy-vision` driver. It is installed by a corresponding `dkms` package which you can see by running `dpkg -l | grep -i aiy`.

[2018-07-24 06:26] dmitriykovalev commented on #435
@janneoksanen Sounds like a bug, could please attach some sample images? Do you run any of our example files?

[2018-07-24 13:02] ghost commented on #420
@dmitriykovalev I see. I appreciate the quick response! Maybe I'll go back through the build install process and see if it corrects itself.

[2018-07-24 17:57] algila opened #439 "compiler doesn't support tf.keras.layers.Flatten"
Any plan to update the compiler managing also the layers `tf.keras.layers.Flatten` ?
That function contain the function `np.Prod()` that is not managed by the compiler `bonnet_model_compiler_2018_04_26`

[2018-07-24 18:23] SK-Github commented on #331
@dmitriykovalev  Thank you so much for the info on the LEDs on the voice bonnet! Any update on the code that interfaces with the servos (description above): (https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/examples/vision/gpiozero/servo_example.py)? Thank you!

[2018-07-24 20:20] llealgt commented on #177
I think i'm using the last image, but i'll try to flash my SD-card with the latest one,after reading on the internet i got a question, does the hotword detection will work using last SD-card image version if i use a PI Zero WH , or just the other demos? And In case it does not work in Zero WH voice kit v2(which includes a Zero WH) will also only run non-hotword demos?

[2018-07-24 22:49] dmitriykovalev commented on #434
Any of these 22POS 0.5MM pitch FFC cables should work:

https://www.digikey.com/products/en/cable-assemblies/flat-flex-ribbon-jumper-cables/457?k=FFC&k=&pkeyword=FFC&pv1989=0&FV=1640055%2Cii22%7C2166%2Cffe001c9%2C40800d1&quantity=0&ColumnSort=0&page=1&pageSize=25

[2018-07-25 02:16] manoj7410 commented on #331
@SK-Github Servo APIs can be seen in detail here : https://gpiozero.readthedocs.io/en/stable/api_output.html#servo

[2018-07-25 04:55] SK-Github commented on #331
@manoj7410 Thank you for the link! I believe the code here (https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/examples/vision/gpiozero/servo_example.py) follows the gpiozero servo documentation that you linked above. My question is on why the example code in **servo_example.py** does not run with Python3. I am copying the errors below for your reference. Can you please let me kno

[2018-07-25 07:00] manoj7410 commented on #331
@SK-Github I just tried to run Servos on Voice V2 and Vision V1.1 using sdcard image 04-13 and it is working fine. Are you trying with the latest image ? Or did you make any changes in servo_example.py ?
Your error is saying "Pin already in use". Not sure but did you configure this pin for some other purpose earlier ?

UPDATE : I am not executing from a dev terminal. I am executing servo_example.p

[2018-07-25 17:04] algila commented on #439
I replaced `Flatten` with the instruction `Reshape` but the compiler (bonnet_model_compiler_2018_04_26) provide an other error message. Any idea how to fix it ?

`2018-07-25 18:57:52.697603: F external/org_tensorflow/tensorflow/contrib/lite/toco/export_tensorflow.cc:1863] Unhandled operator type TensorFlowTile
`

[2018-07-25 18:35] weiran-work commented on #438
@dchichkov
AIY vision kit only supports float inference engine. You can try the non-quantized version of mobilenet.
https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md

[2018-07-25 21:17] SK-Github commented on #331
@manoj7410 Thank you so much for verifying this on your end and for the feedback! The issue was that I was not running with sudo. When I run with sudo, I do not run into the error with pwmchip0 highlighted below.  However, there are some runs when things seem to work just fine without having to use sudo, but it is a hit or a miss. But, with sudo, things work consistently. I thought to try sudo aft

[2018-07-26 00:13] SK-Github commented on #331
@manoj7410 I am facing a new issue with AIY Voice kit V2. I am using the 04/13/2018 version of the SD card image now and using ssh (just like your set up). I am trying to control an LED (on PIN_A) and a servo (on PIN_B) using voice commands uttered after the press of a button (connected to PIN_D). If I do not use sudo, I get the same issue as before (PWM permissions). So I tried to run it with sud

[2018-07-26 00:37] andrewtvuong commented on #434
@dmitriykovalev Hi I am trying to use the Pi 3 B with the vision bonnet. Can you recommend a flex cable between the Pi 3 B and bonnet that has a short enough connector that it would fit? The USB ports are too close to the bonnet for the standard cables.

I even clipped the peeled hard black piece in half but it still seems too squished, may have shorted the board because it wouldn't even power on.

[2018-07-26 05:04] dchichkov commented on #438
When the model is running on the device, is the original FP32 model being executed, or some quantized version?   I need to be able to run exact same model on AIY and x86/GPU for verification purposes.

[2018-07-26 06:19] weiran-work commented on #438
@dchichkov
Under the hood, it uses Fp16 to run inference. But there will always be numeric difference because of implementation details, e.g. use of single float or double as accumulator, use of hardware convolution block, and etc.

Depending on what you want to achieve, if you want to verify the statistical behavior stays the same when deploying on Vision Kit, I'd recommend to check precision/rec

[2018-07-26 07:11] manoj7410 commented on #331
@SK-Github Below is my understanding and please correct me if it is incorrect:
- You burned your sdcard with a fresh image (version 04-13)
- You did not make any changes into the environment of the AIY OS after booting it.
- You ssh into the kit.
- You executed cloud_speech or servo_example without sudo and ran into issue.
- Then you tried with sudo and it gave a different error (Which is because

[2018-07-26 17:11] davejavu1969 opened #440 "Issues with Vision Kit & demos"
Been having several issues running the Vision Kit and associated demos. I am having repeated problems with the unit freezing / crashing / failing to boot. Will list them individually - all help gratefully received.

1. Boot screen - what should actually be displayed on boot? (not sure why this would change) I have seen four different boot screens. (i) Raspberry logo & flashing cursor (ii) Standard

[2018-07-26 21:43] avyii opened #441 "Any diagnostics to test the health of the Vision Bonnet?"
With all the tinkering and the bonnet being inherently passively operating, I fear I've slightly damaged the bonnet without really knowing. Are there any software diagnostics I could run to check its health?

[2018-07-26 22:05] babyrobotx commented on #406
Just bought P3B+, Voice Kit V1, installed latest image.
Encountered issue as mentioned in the title.

ahomeuser is correct.

I've tried 3 cables from different vendors:
With Cable1, power pad on P3B+ board read ~5.80V, and system will not boot;
With Cable2, power pad on P3B+ board read ~5.90V, boot and a "lightening" symbol shows up on top right corner above Desktop;
With Cable3, power pad on P3B+

[2018-07-26 22:10] SK-Github commented on #331
@manoj7410 Thank you so much for the detailed and useful response! I really appreciate all of your advice and suggestions!

First, my response to the confirmation of my setup:
- You burned your sdcard with a fresh image (version 04-13): **Yes**
- You did not make any changes into the environment of the AIY OS after booting it:  **Yes, except** this...I copied leds.py and pins.py from here (https:/

[2018-07-27 00:06] JakeMalis commented on #437
@weiranzhao

Hi. Thank you so much for your help with my prior problems. I'd love to ask you a few more questions.

- So, for my proof-of-concept, the playing cards will always be in a distance with various backgrounds, so should the training pictures all be of the playing cards at a distance with various backgrounds?
- What is the best camera resolution for training?
- How many cards of each do y

[2018-07-27 06:45] manoj7410 commented on #440
@davejavu1969 Try to edit /boot/config.txt and uncomment #arm_freq=800.

This can also help in preventing this crash.

[2018-07-27 06:50] manoj7410 commented on #441
@avyii Does any of your demo work now ?
What happens when you run leds_example and buzzer_demo.py ?

Do you see "Myriad Ready" in your dmesg output ?

[2018-07-27 16:49] avyii commented on #441
yes they still work though it seems a bit slower; I was wondering if I can monitor its wear. Just realized it's a pretty expensive chip to mess around with that also isn't so obvious in its functions.

[2018-07-28 02:12] KyleMitchel commented on #400
I also have this issue. I used @rollynoel suggestion on #381 to no avail.

[2018-07-28 05:01] dmitriykovalev commented on #441
There are no special diagnostic tools, please let us know if you are facing any specific errors, e.g. inference examples do not work. Raspberry Pi itself can have issues as well.

[2018-07-28 05:09] dmitriykovalev commented on #406
@babyrobotx Thank you for useful details, good power cable is really important.

[2018-07-28 05:09] #434 closed, assigned to nobody

[2018-07-28 05:10] #432 closed, assigned to nobody

[2018-07-28 05:11] #429 closed, assigned to nobody

[2018-07-28 05:14] dmitriykovalev commented on #422
@Mietzsche81 let us know if you are still having this problem. Looks like a configuration issue.

[2018-07-28 05:14] #422 closed, assigned to nobody

[2018-07-28 05:16] dmitriykovalev commented on #423
@mc-coi SD card image has everything you need to run examples, no need to pull AIY demos separately. Looks like you have a mix of different source code versions. Let us know if problem still exits.

[2018-07-28 05:16] #423 closed, assigned to nobody

[2018-07-28 05:17] dmitriykovalev commented on #405
Let us know if problem still exits.

[2018-07-28 05:17] #405 closed, assigned to nobody

[2018-07-28 05:17] #402 closed, assigned to nobody

[2018-07-28 05:18] #412 closed, assigned to nobody

[2018-07-28 05:22] dmitriykovalev commented on #367
It's impossible to change "ok google", please look at Google Assistant Library [documentation](https://developers.google.com/assistant/sdk/guides/library/python/).

[2018-07-28 05:22] #367 closed, assigned to nobody

[2018-07-28 13:27] manoj7410 commented on #400
@KyleMitchel Which RPI board are you using ?

[2018-07-28 21:49] galwayhooker opened #442 "Not Seeing Bounding Boxes on face_detection_camera.py and Crashing after short while w/ or w/o ffmpeg streaming"
For some reason; I am unable to see the bounding boxes in face_detection_camera.py while I stream the video. I have not seen any bounding boxes on anything yet.

I do get inference std output in form of text of face detection.

I have modified the face_detection_camera.py file with start_recording() instead of start_preview(). I choose to output to ffmpeg by piping. Video streaming is successful b

[2018-07-29 10:34] patoberli commented on #309
Sadly having the same problem once I try to run assistant_grpc_demo.py.

[2018-07-29 12:29] patoberli opened #443 "Installation of Voice-Kit on fresh stretch Raspbian image not working"
Hi All
I've got the same issue like the closed issue https://github.com/google/aiyprojects-raspbian/issues/309.
It seems the Hacking.md instructions are completely outdated, as there is no more install-deps.sh nor the usage of env/bin/python.
It would be great if the project could be upgraded to run on a fresh Raspbian image, because I'd like to include it in another project.
Thanks

[2018-07-29 21:31] ndmax commented on #355
It appears to be included in the `scripts` director in the latest commit of the aiyprojects branch.

(And I'm receiving the same message...)

[2018-07-30 00:19] ndmax commented on #309
This is indeed very broken and very frustrating.  The kit website (https://aiyprojects.withgoogle.com) needs an update or it will continue to waste everyone's time.  Is there any place to find instructions on the current image linked above?

[2018-07-30 05:07] xcollantes commented on #388
Where is your .asoundrc file located?

[2018-07-30 18:29] weiran-work commented on #437
@JakeBMalis

So, for my proof-of-concept, the playing cards will always be in a distance with various backgrounds, so should the training pictures all be of the playing cards at a distance with various backgrounds?
Yes

What is the best camera resolution for training?
The model itself takes 160x160 input, or 192x192 depends on your setting. So the default resolution is definitely enough.

How many

[2018-07-30 19:09] dmitriykovalev commented on #442
Bounding boxes are only displayed on HDMI output. If you are streaming video then you have to transfer bounding box information yourself and display them on top of your video stream.

Regarding your exception traces, have you disabled JoyDemo service before running example code?

[2018-07-30 19:17] #360 closed, assigned to nobody

[2018-07-31 17:14] giacomobartoli commented on #314
Following this issue, is there anyone who can share a pre-trained COCO model? For sure, given embedded_ssd_mobilenet_v1 as config. That would be great.

[2018-07-31 18:33] QuantumLimitsDesign opened #444 "json.decoder.JSONDecodeError Issue"
So im wokring of a RPi 2 and trying to run your voice aiy software and it all works fine untill i run this piece of code

 src/examples/voice/assistant_grpc_demo.py

and then i get this error

File "/usr/lib/python3.5/json/decoder.py", line 357, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

[2018-07-31 18:59] DougieLawson opened #445 "Can I encourage "OK Google" to use a twenty four hour clock"
If I say "OK Google, what time is it?", she replies "7:58 Pee Emm".

I'd like her to reply with "19 58" as that's the format I prefer.

How can I configure AIY to use 24-hour clock (aka military time)?

[2018-07-31 19:27] galwayhooker commented on #442
Oh no wonder, didn't expect it to be HDMI output only. Is there a centralized documentation on the functions? I am curious about the implementation.

Yes I have disabled the service completely.

[2018-07-31 20:15] dmitriykovalev commented on #442
Just check the python code, everything is right there: `face_detection.py` has functions to get bounding boxes from inference result. Are you still having that exception? Can you share the whole piece of code in this case?

[2018-07-31 20:19] dmitriykovalev commented on #445
This is not actually related to AIY because we use [Assistant SDK](https://developers.google.com/assistant/sdk/) internally, you can probably try to ask [here](https://github.com/googlesamples/assistant-sdk-python/issues).

[2018-07-31 20:38] dmitriykovalev commented on #444
Are you using the latest SD card image from https://github.com/google/aiyprojects-raspbian/releases?

[2018-08-01 00:26] babyrobotx commented on #302
Really appreciate it, drigz.
Would you guys mind releasing a fix rather than a new "image"? or an alternative to choose "not an image"?
I have done many times re-image... and everytime I have to sacrifice losing the work on top of the existing image.... : (

[2018-08-01 10:59] giacomobartoli opened #446 "Embedded_ssd_mobilenet_v1 model pretrained on COCO"
Hi,
Where can I find a pre-trained model over COCO dataset with embedded_ssd_mobilenet as configuration?
That would be essential for transfer learning and it would be useful not only to me, but to the entire community.
This is the list of all the pre-trained models: https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md
Embedded_ssd_mobilenet_v1 (th

[2018-08-01 17:06] watou commented on #400
Voice Kit V1 on 3B+, same symptoms as here, [this fix](https://github.com/google/aiyprojects-raspbian/issues/381#issuecomment-406903158) also does not solve the problem of no assistant output.  "Hey, here's a kit that doesn't work, enjoy!" ☹️

[2018-08-01 17:08] watou commented on #400
@manoj7410 the suggestion on #381 does not work for my RPi 3B+ / Voice Kit V1 / aiyprojects-2018-04-13.img.xz (plus updates) setup.

[2018-08-01 18:35] algila commented on #439
I replaced `tf.tile` with the instruction `tf.expand_dims` as below

[code]
but  the compiler (bonnet_model_compiler_2018_04_26) provide an other error message. I really hope that this reporting will give the message that the compiler should be updated to simplify the life of the final user. Waiting that any idea how to fix it ?

`2018-08-01 20:33:09.622163: F external/org_tensorflow/tensorflow/co

[2018-08-01 20:50] DougieLawson commented on #445
Thank you.

[2018-08-01 20:50] #445 closed, assigned to nobody

[2018-08-01 22:45] phaseOne commented on #410
Hey @dmitriykovalev, I'd love to hack around with the Movidius SDK. I can arrange an NDA if needed.

[2018-08-01 23:08] dmitriykovalev commented on #410
@phaseOne You still need to contact https://www.movidius.com/ for that. You can also send detailed email to our support team support-aiyprojects@google.com.

[2018-08-01 23:50] andrewtvuong commented on #440
@davejavu1969
If you're using a not so good SD card, that could be an issue. I've had many experience when using shoddy cheap ones, that still have function but sometimes work and don't work. I think it's corrupted, but not to the point of failure. I realized I was losing data near the end when I flash cheap SD cards.

Have you tried a fresh image? AIY 4-13-18? (don't update and upgrade)

If not o

[2018-08-02 08:47] vanlnb opened #447 "THERE ARE NO ASSISTANT AUDIO DATA RESPONCE?"
I set up a kit like introduction of v1 with rpi3b everything is ok until i run the demo, it can recognize my voice, but it only return text, no sound audio return, i flash again and use old credential that create long time ago and it's work, but when i flash again and and use a new credential: there no answer sound respond, i check the code and found that there's no data audio return when recogniz

[2018-08-02 14:48] ndmax opened #448 "No Response from Assistant API | Console Error: S3OnePlatform.Assistant"
I am unable to get any src/examples/voice demo to respond.  I can push the button or say "Okay Google" (depending on demo) and the button light responds, but there is no audio response from the speaker.  On the console, I am seeing 100% 499 errors from `google.internal.speech.S3OnePlatform.Assistant`

Can anyone help me resolve this issue?

Here's my environment:

Raspberry Pi 2
Google Voice Kit (

[2018-08-02 15:28] rollynoel commented on #400
Sorry - it certainly did the trick for my V2 Voice Kit.

[2018-08-02 15:50] mpember opened #449 "Duplicate alert events"
Whenever a timer or alarm is set, the following occurs when the timer / alarm goes off:

A **ON_ALERT_STARTED** event is followed by an immediate **ON_ALERT_FINISHED** event, followed by a second **ON_ALERT_STARTED** event.

A second **ON_ALERT_FINISHED** event is not triggered until you wake the assistant, to stop the alarm.

Is this expected?  Is this because the API generates multiple, redundan

[2018-08-02 16:42] watou commented on #400
@rollynoel That is at least helpful that it works for V2 and not V1.  I hope a Google person can rescue us V1 Voice Kit users!

[2018-08-02 20:21] anuraj1 commented on #443
My project is on hold until this is resolved as well. Any progress updates would be very appreciated, @dmitriykovalev !

[2018-08-03 09:18] manoj7410 commented on #444
@QuantumLimitsDesign Are you trying to run it on PI terminal or via SSH ?

[2018-08-03 14:38] janneoksanen-zz commented on #435
@dmitriykovalev Here's a piece of code that should be able to reproduce the bug.
[bounding_box_bug.txt](https://github.com/google/aiyprojects-raspbian/files/2257696/bounding_box_bug.txt)

[2018-08-03 16:59] bowu-google commented on #439
May I ask what's the model architecture?
Is this one of the supported architectures listed on Vision Kit website:
https://aiyprojects.withgoogle.com/vision/
(search for "TENSORFLOW MODEL COMPILER")

[2018-08-03 22:54] algila commented on #439
Hi,
No I am using an ssd 256x256 based on mobilenet alpha 0.125 written in keras and converted in TensorFlow.

I solved the above error. The keras command managing softmax was converted in TF using ops Max. I just generated a keras custom softmax that was defined with TF command and it is solved.
At this point an other error came up. Any idea how to fix it ?

`2018-08-05 01:00:57.873428: F externa

[2018-08-04 02:38] pholynyk commented on #356
Had the problem of mic record level too low - verified by making check_audio.py use my_path.wav and transferring it to another machine and looking with audacity. Nearly flat line, so I boosted it by 34db and it was good. Went back to voice kit, did the default.conf mods from #313, then installed paprefs, pasystray, paman, pavucontrol, and pavumeter. Ran pasystray from terminal; click the new speak

[2018-08-04 18:14] alonchis commented on #443
i followed the instructions and i keep getting a "no module named aiy" error.

[2018-08-05 04:10] nickdex commented on #393
@dmitriykovalev Hi, I'm waiting for the updated instructions as well

[2018-08-06 12:06] ndmax commented on #443
@alonchis The missing aiy module is another issue and can be solved by copying the src/aiy directory into the same directory as whatever directory the script you're trying to use.  So, for example, to run a checkpoint script:

cp -R src/aiy checkpoints/

source envbin/activate
(env) checkpoints/check_audio.py

[2018-08-06 16:28] bowu-google commented on #439
hmm,

i see. you trained with Keras and ten converted to TF.
we only tested the workflow on models trained with TF.
there is no guarantee that the model trained with other framework, then converted to TF, could pass the compiler.
could you please train the model with say TF/slim?

[2018-08-07 00:35] #295 closed, assigned to nobody

[2018-08-07 00:47] ronmillsap commented on #448
I have the very same issue

[2018-08-07 06:23] Srinivasb0 commented on #388
@tfanget will you be able to solve the arecord 788 audio open error.

[2018-08-07 15:29] mra1984 opened #451 "soundcard is not a first sound device"
I am trying to test my voicehat audio but getting the error your AIY sound card is not a first sound device.  It tells me to remove other sound drivers.  Please could someone help me to do this?
Thanks

[2018-08-07 15:31] rollynoel opened #452 "New version of aiyprojects available for download"
[aiyprojects-2018-08-03](https://dl.google.com/dl/aiyprojects/aiyprojects-latest.img.xz).
Has anyone tried it?

[2018-08-07 18:05] dmitriykovalev commented on #452
@rollynoel I guess releasing new image is not a bug or feature request :-) Please try to use it and report any found issues.

[2018-08-07 18:05] #452 closed, assigned to nobody

[2018-08-07 18:08] dmitriykovalev commented on #451
@mra1984  Which SD card image do you use?

Can you also check what's inside `/boot/config.txt`? `dtparam=audio=on` line should be commented out.

[2018-08-07 18:10] dmitriykovalev commented on #388
Please to use the latest image from https://github.com/google/aiyprojects-raspbian/releases  It's based on PulseAudio now, `.asoundrc` is not required anymore.

[2018-08-07 18:12] dmitriykovalev commented on #448
Please try to use the latest SD card image from https://github.com/google/aiyprojects-raspbian/releases.
ALSA config is not required anymore, everything is PulseAudio-based.

[2018-08-07 18:14] dmitriykovalev commented on #443
@anuraj1 We just released new SD card image and pushed a lot of commits to GitHub repo, please take a look at new `HACKING.md` file.

[2018-08-07 18:29] dmitriykovalev commented on #393
Please check updated `HACKING.md` and [new SD card image](https://github.com/google/aiyprojects-raspbian/releases)!

[2018-08-07 18:44] bphermansson commented on #393
Great news, thanks! Will try it out asap.

[2018-08-08 00:12] ndmax commented on #443
Still no joy.  I just installed the new SD image, and still receive no response, with 100% google.internal.speech.S3OnePlatform.Assistant 499 errors.

[2018-08-08 00:12] ndmax commented on #448
Still no joy.  I just installed the new SD image, and still receive no response, with 100% google.internal.speech.S3OnePlatform.Assistant 499 errors.

[2018-08-08 09:50] manoj7410 commented on #448
@ndmax Can you please confirm your environment:

Raspberry Pi 2
Google Voice Kit (V1 HAT)
Google AIY image (AIY Kits Release 2018-08-03) from  https://github.com/google/aiyprojects-raspbian/releases

And having assistant.json file in /home/pi ?

[2018-08-08 11:46] mra1984 commented on #451
Thanks that did the trick.

[2018-08-08 13:24] mra1984 opened #453 "permission denied when trying to open grpc.py"
I am getting a 'permission denied' error in terminal when I try to open this file via the file path?
In python when I run I get this error?
Any ideas?  Thanks in advance
Python 3.5.3 (/usr/bin/python3)

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/google/auth/transport/grpc.py", line 20, in <module>
    import grpc
  File "/home/pi/Desktop/aiyprojects-raspbian-

[2018-08-08 15:06] manoj7410 commented on #453
@mra1984 Have you installed the latest sdcard image from : https://github.com/google/aiyprojects-raspbian/releases ?

[2018-08-08 15:10] mra1984 commented on #453
yes I installed the latest one posted from this forum at the link you mention

[2018-08-08 15:10] #451 closed, assigned to nobody

[2018-08-08 15:10] mra1984 commented on #451
Fixed

[2018-08-08 16:36] ndmax commented on #448
@manoj7410 All of the above information is correct.

[2018-08-08 16:46] ronmillsap commented on #448
I too have created a new SD with version 2018-08-03 and likewise everything works (including checkpoint for audio) except no audio response. Console indicates "visual" response only.

The last line of response reads:
"'command': 'action.devices.commands.VISUAL_OUTPUT'}]}]}}]}"

[2018-08-08 18:03] dmitriykovalev commented on #453
`/home/pi/Desktop/aiyprojects-raspbian-aiyprojects/src/aiy/assistant/grpc.py` this is not the default path on our SD card image (everything should be in `/home/pi/AIY-projects-python`), can you try the image from Releases page?

[2018-08-08 18:06] dmitriykovalev commented on #448
@ronmillsap Can share the whole response text? I'm not sure what `"'command': 'action.devices.commands.VISUAL_OUTPUT'}]}]}}]}"` means.

[2018-08-08 18:49] ronmillsap commented on #448
Ok, but it's long.
pi@raspberrypi:~/AIY-projects-python $ src/examples/voice/assistant_library_demo.py
ON_MUTED_CHANGED:
  {'is_muted': False}
/opt/aiy/projects-python/src/aiy/_drivers/_led.py:51: RuntimeWarning: This channel is already in use, continuing anyway.  Use GPIO.setwarnings(False) to disable warnings.
  GPIO.setup(channel, GPIO.OUT)
ON_START_FINISHED
Say "OK, Google" then speak, or pres

[2018-08-08 18:52] ronmillsap commented on #448
Here it is after an "OK Google"
ON_CONVERSATION_TURN_STARTED
ON_END_OF_UTTERANCE
ON_RECOGNIZING_SPEECH_FINISHED:
  {'text': 'what time is it'}
ON_DEVICE_ACTION:
  {'inputs': [{'payload': {'commands': [{'execution': [{'params': {'html': '<html> <head><meta charset="UTF-8"> <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"></head> <style>html,body{background:transp

[2018-08-08 23:34] shadetree01010100 commented on #377
It's not just your kit @HeatfanJohn . I've been consistently having the same issue running the joy detector model.
`dmesg` output:
[code]

The same `OSError: [Errno 14] Bad address` is raised in my application. Based on some extra logging I've been doing, it SEEMS like this starts to happen once the Pi's CPU core temp is above 65­C. I realize of course that that is a different chip from the Myriad

[2018-08-09 06:10] manoj7410 commented on #448
@ronmillsap Did you try to run assistant_grpc_demo too ? Does it work ?

[2018-08-09 06:12] manoj7410 commented on #447
@phong31151812 Can you try with the latest sdcard image ? Image can be downloaded from : https://github.com/google/aiyprojects-raspbian/releases

[2018-08-09 07:29] dmitriykovalev commented on #448
@ronmillsap Is there any voice response when these long messages are printed? Did you follow step "Give permissions to the Google Assistant API" from https://aiyprojects.withgoogle.com/voice/?

[2018-08-09 12:23] ronmillsap commented on #448
Dimitri, yes I did follow give permission and had to do all the log in stuff etc. And when I run  the cloud check checkpoint it returns a "ready" message.
 Mano, I can run grpc and it is free of any error messages but I have replaced the arcade button with an led so I can't really use grpc any further.

Just for the record, I use an SD that was created with an older version every day but I have th

[2018-08-09 12:34] ronmillsap commented on #448
Dimitri, sorry I missed your first question. There is no sound whatsoever with the response however the light does come on just like when there IS a response, just without any sound.
I am curious about running grpc so I will swap out the button for the led and see if grpc works or not.

[2018-08-09 13:10] nickdex opened #454 "Error while installing aiy-io-mcu-firmware and aiy-dkms"
I tried the out the (updated) steps on `Hacking.md` on fresh raspbian install, encountered some errors. Pasting the output -
[code]

[2018-08-09 14:12] ronmillsap commented on #448
Ok, set it up the button, all check points worked fine, started grpc and the light started blinking slowly (ready). Pressed the button and the following occured: however, this time the button light started blinking quick short blinks (pulse=thinking) as well as the slow blinks. Still no voice response.

Build info: Sat Aug 4 00:20:37 UTC 2018 @ 51293f3
Dev terminal is ready! See the demos in 'src/

[2018-08-09 14:15] cray- commented on #447
Tested the new 2018-08-03 image on a rpi3b with v1 voicehat. Still no response from the demos. grpc demo correctly recognises commands, everything shows up on myactivity.google.com, check_audio works fine (although my recorded voice sounds very quiet). But not getting any audio responses.

Further to that, if I run assistant_library_demo I get the contents of a webpage piped to the terminal. Looks

[2018-08-09 19:45] dikkedimi commented on #443
Here the service is working, but crashes immedately with this error:

`voice-recognizer.service: Failed at step EXEC spawning /home/pi/AIY-projects-python/env/bin/python3: No such file or directory`

[2018-08-09 22:27] lufiaraujo commented on #346
My kit was freezing too, but right after boot if I opened terminal or anything else. Here's what I've done:

1. Shutdown the pi
2. Opened the box and disconnected the camera from the bonnet
3. Booted up
4. Added the "over_voltage" commands to /boot/config.txt:

sudo nano /boot/config.txt

add the following lines to the end of the file:
_over_voltage=4
over_voltage_min=4_

Ctrl+O (save); Ctrl+W (ex

[2018-08-10 06:54] manoj7410 commented on #454
@nickdex Which voice kit do you have ? I just finished all the steps on Voice V1 and didn't faced any errors till "arecord and aplay".

[2018-08-10 10:34] manoj7410 commented on #426
@jessecha HACKING.md file has been updated. You can get it from : https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/HACKING.md

[2018-08-10 10:35] manoj7410 commented on #425
@dlarue You can follow updated HACKING.md file from https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/HACKING.md to install AIY packages on a clean OS.

[2018-08-10 10:38] manoj7410 commented on #420
@nicknauert HACKING.md file has been updated and you can get this file at https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/HACKING.md
This should be helpful in installing AIY packages on clean Raspbian.

[2018-08-10 10:46] manoj7410 commented on #400
@watou A new build has been released by Google and can be obtained from : https://github.com/google/aiyprojects-raspbian/releases Can you please check if your issue got resolved.

[2018-08-10 10:54] manoj7410 commented on #378
@guidodocter Updated HACKING.md has been released and it can be obtained from : https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/HACKING.md

[2018-08-10 12:30] mra1984 commented on #453
I re-ran it on the on the right image in the right location and got the same result?

Python 3.5.3 (/usr/bin/python3)

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/google/auth/transport/grpc.py", line 20, in <module>
    import grpc
  File "/home/pi/AIY-projects-python/src/aiy/assistant/grpc.py", line 18, in <module>
    import aiy.assistant.auth_helpers
  File

[2018-08-10 12:32] mra1984 commented on #453
I have ran pip install grpcio already

[2018-08-10 13:29] mra1984 commented on #453
I also ran this:
pip install --upgrade google-cloud-speech

[2018-08-10 13:29] #453 closed, assigned to nobody

[2018-08-10 14:19] rollynoel commented on #400
It has indeed, thanks!

[2018-08-10 14:54] mra1984 opened #455 "Question #voice - switch off"
(1) I have made an autoboot file so that I can plug in the AIY voice without the need for mouse/keyboard/screen etc - this works.  However, are there then issues with just switching the pi off by the button on my cable?  Can I get the voice device to poweroff safely?

[2018-08-10 14:55] mra1984 opened #456 "changing hot word"
I would like to change the hotword - is this possible using the assistant_library demo or not? thanks
#115

[2018-08-10 15:03] watou commented on #400
@manoj7410 With the Voice Kit V1, the new disk image is now dumping huge piles of JSON and HTML into the terminal window, but still not speaking back to me.  I am not performing a `sudo apt-get update ; sudo apt-get upgrade` to see if that makes any difference.  I will now try to decipher what all that text is trying to tell me and report further.

[2018-08-10 15:20] watou commented on #400
Before I've had a chance to speak, this is dumped into the terminal window (see below).  Imagine a young kid trying to sort through this without becoming hopelessly dejected at the corporate/legal nature of this barrier?  Smart comments aside, how does one proceed?

[code]

[2018-08-10 18:50] jessecha commented on #454
I had the same problem, and I tried moving the aiy_mcu_updater.service to the appropriate file location.

[2018-08-10 19:12] jessecha opened #457 "aiy-python-wheels: too many levels of symbolic links error during installation"
As the title suggests, when I try to install aiy-python-wheels, I get an dpkg error indicating too many levels of symbolic links.

[2018-08-10 19:45] jlawrence124 commented on #400
Same thing on my end @watou

[2018-08-10 20:17] jessecha commented on #426
The update does not enable me to use ubuntu mate.

[2018-08-10 22:34] dmitriykovalev commented on #448
@ronmillsap Interesting, not sure what's happening here, output looks good. Just to double check, you said that all checkpoints passed, right? So you were able to record then listen to your voice during sound check procedure?

[2018-08-10 22:40] dmitriykovalev commented on #447
@cray That's weird, when did you setup your credentials? You are right, looks the same as  googlesamples/assistant-sdk-python#274, we'll double check everything.

[2018-08-10 22:44] dmitriykovalev commented on #443
@dikkedimi Looks like `voice-recognizer.service` is from the old SD card image, we don't have `virtualenv` (`/home/pi/AIY-projects-python/env/bin/python3`) anymore.

[2018-08-10 22:48] dmitriykovalev commented on #346
@lufiaraujo Right, that solution works and already described in https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/docs/vision.md.

@burtbick Can you try to decrease CPU frequency (check #418 for details)?  Looks like that also works sometimes.

[2018-08-10 23:11] dmitriykovalev commented on #425
@dlarue  Please checkout new `HACKING.md` as @manoj7410 mentioned. Report new issues for the updated instructions — closing this one now.

[2018-08-10 23:11] #425 closed, assigned to nobody

[2018-08-10 23:12] dmitriykovalev commented on #420
@maxritter Please check new instructions! Closing this one for now.

[2018-08-10 23:12] #378 closed, assigned to nobody

[2018-08-10 23:22] dmitriykovalev commented on #455
You can update your python code and implement something like this:

[code]

Basically use special voice command to run shell command which shutdowns Pi.

[2018-08-10 23:24] dmitriykovalev commented on #455
By the way, there is already an example file which does that: `assistant_library_with_local_commands_demo.py`

[2018-08-10 23:26] dmitriykovalev commented on #456
I guess the short answer is no. You can try to ask question here as well: https://github.com/googlesamples/assistant-sdk-python/issues because we use Assistant SDK internally.

[2018-08-10 23:26] #456 closed, assigned to nobody

[2018-08-10 23:32] dmitriykovalev commented on #457
Can you please copy error message here?

[2018-08-10 23:33] dmitriykovalev commented on #400
Seems to be this issue in the Assistant library: https://github.com/googlesamples/assistant-sdk-python/issues/274

[2018-08-10 23:37] dmitriykovalev commented on #426
We haven't tried anything except Raspbian for now. It would be great if you can help us to figure out what needs to be fixed for Ubuntu Mate.

[2018-08-10 23:38] ronmillsap commented on #448
Yes Dimitri, today I walked through the instructions again. In troubleshooting, it suggested to repeat step 7 which is to get the oAth2.0 client. So I tried new credentials but got the very same results.
I do wonder what the consequences of the warning about "this channel is already in use" as that warning is always shown when I start up?

[2018-08-11 00:09] jessecha commented on #426
The issue seems to be with the rpi 3B board not being able to find the spi_comm file in the vision bonnet.

[2018-08-11 00:09] jessecha commented on #457
I ended up ditching the ubuntu mate installation attempt, and I do not have a copy of the error message.

[2018-08-11 01:11] nickdex commented on #454
@manoj7410 I'm using Voice Kit V1 as well. Just to be sure I didn't misinterpret or left out anything, can you please write down your steps (which I can copy, paste and run)

[2018-08-11 07:22] nickdex commented on #454
@jessecha Can you please list the steps, for eg where did you copy it from. I'm assuming destination is `/usr/lib/systemd/system/aiy_mcu_updater.service`

[2018-08-11 08:51] cray- commented on #447
@dmitriykovalev I used an existing assistant.json file from a project I created when the original v1 voicekit came out with MagPi in Australia last year. I also flashed a fresh 2018-08-03 image and created a new set of Oauth2 credentials on the same project. Results the same as above.

I just created a brand new project, added the cloud API and created a new set of credentials as per instructions

[2018-08-11 14:30] dkv commented on #454
`sudo mkdir /usr/lib/systemd/system` seems to resolve the issue.
Then you can run: `sudo dpkg --configure aiy-io-mcu-firmware`

[2018-08-11 15:21] rollynoel opened #458 "AIY Kits Release 2018-08-03 still doesn't support the leds on a Voice 2 kit"
assistant_library_demo.py (for example) makes the calls to "status_ui.status('ready')"
  but no enlightenment occurs.
(I presume the fact that I'm running it on a RPi 3B+ isn't a factor).

[2018-08-11 18:00] dikkedimi commented on #443
@dmitriykovalev I've already removed all installed previous versions and followed the instructions by google. Still doesn't work. I've edited the .service file as well, trying different versions found on the forums while searching the received log messages. it's not working with the current instructions. If you can direct me to some correct instructions that work on any raspbian install that'd be

[2018-08-12 02:00] Jianan-Li commented on #458
Same here. Running on RPi 3B.

[2018-08-12 15:12] algila commented on #446
Is this what you need ?

http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_2017_11_17.tar.gz

this is probably 300x300
depth_multiplier: 1.0
not working in Vision kit

[2018-08-12 15:21] nickdex commented on #454
@dkv that works, atleast it let everything install without issues. However the mic and speaker aren't working. I'm using the pre-configured image for now.

[2018-08-12 15:22] #454 closed, assigned to nobody

[2018-08-12 16:47] giacomobartoli commented on #446
@algila thank you anyway, but that model is not suitable for the Vision Kit as you stated.
There is no pre-trained model on coco with embedded_ssd_mobilenet_v1.
I'm training this model from scratch and when the evaluation will be good enough (this will probably requires some days yet) I will be happy to share with you and anyone who need it.

[2018-08-13 03:34] maylownaise commented on #446
Is this what you're looking for? https://cogint.ai/custom-vision-training-on-the-aiy-vision-kit/?

It's a pre-trained model based on 256 x 0.125 (search for 'shared a trained model' for the link to the model). Just follow the instructions to change the embedded_ssd_mobilenet_v1_coco.config file.

I also needed to add this line: 'from_detection_checkpoint: true' right after setting fine_tune_checkp

[2018-08-13 07:09] giacomobartoli commented on #446
@maylownaise that model is pre-trained on VOC, not coco.

[2018-08-13 11:07] maylownaise commented on #446
@giacomobartoli As I'm very new to this, what is the difference? Thank you.

[2018-08-13 11:14] giacomobartoli commented on #446
@maylownaise VOC dataset contains only 20 classes, while COCO has 90 classes. This means that performances will be better starting from a pre-trained model on COCO. I hope I was clear enough :-)

[2018-08-13 12:28] #455 closed, assigned to nobody

[2018-08-13 12:49] mra1984 opened #459 "assistant_with_local_commands - option to modify wakeword?"
this is a great file as I can boot and shutdown with only the google voice aiy kit.

it would be great if it could somehow work to modify the wakeword though.

the only way to do it seems to be with the button press version of the code and using snowboy - I attempted this but couldn't get it to work.  Does anyone have any tutorial or plans to modify the python file 'with local commands'?

I have m

[2018-08-13 12:55] maylownaise commented on #446
@giacomobartoli Yes, clear. Please let me know if you find one. Trying to work on Object Detection on the AIY Vision Kit. Practicing with a deck of cards and not having great results with the model I mentioned above. Thanks.

[2018-08-13 19:04] dmitriykovalev commented on #457
Oh, Ubuntu Mate, got it. That's an important information you should've put in the description.

[2018-08-13 19:06] dmitriykovalev commented on #426
`spi_comm` file comes from `aiy-vision` driver.  Did you manage to install it?

[2018-08-13 19:07] dmitriykovalev commented on #458
That's a bug, status UI works for Voice HAT and doesn't work for Voice Bonnet, will be fixed in the next release.

[2018-08-13 19:09] dmitriykovalev commented on #447
@cray-  I'm glad it's working now, thank you for the update!

[2018-08-13 19:13] dmitriykovalev commented on #448
@ronmillsap Can you please look at the similar issue #447? Looks like everything was resolved there by just creating a new project. Regarding `this channel is already in use`, that shouldn't be a problem but we'll try to figure out and fix this.

[2018-08-13 20:07] ronmillsap commented on #448
Yes I will give it a go. Thanks for not giving up!

[2018-08-13 21:43] weiran-work commented on #446
@giacomobartoli Unfortunately, there's no COCO based pretrained checkpoints at the moment. The closest thing you can get at the moment is the one @maylownaise pointed to.

[2018-08-13 21:46] giacomobartoli commented on #446
@weiranzhao thank you for your feedback. Right now what I am doing is to train a model from scratch on coco dataset. I am facing some issues.. it seems training a network from scratch it really takes a lot, a lot of iterations. I'm about 500'000 iteration and the eval is just 8%. Too low. As soon as I get a better evaluation (60-70%), I will export the checkpoints and publish them on this thread.

[2018-08-13 23:06] JakeMalis opened #460 "SSD Mobilenet Binaryproto run Object Detection with bounding boxes live in AIY Camera"
I managed to retrain the Mobilenet v1 SSD (256 x 265, 0.125 multiplier) for my deck of cards. I converted the .pb file into a .binaryproto. I need help modifying the object_detection.py file to have the bounding boxes in the live camera feed. Does anyone happen to have code to run it live in the camera preview?

Thanks!

[2018-08-14 14:17] ronmillsap commented on #448
ok Dmitriy, i was able to get everything working properly by setting up a new project. not sure EXACTLY what that means or why it works but all is working. I'll take that. Thank you for all the help!

[2018-08-14 20:07] maylownaise commented on #446
@weiranzhao Is the limitation of the 256 x 256 hardware-based or software based? Do you think in the future, there will be software updates to allow object detection on larger images?

Thanks.

[2018-08-14 21:35] giacomobartoli commented on #460
@JakeBMalis I did it. Take a look at my repo: https://github.com/giacomobartoli/vision-kit/tree/master/pikachu-detector

[2018-08-14 21:49] weiran-work commented on #446
@maylownaise This limit mainly comes from hardware, because there's only 2MB of FastMemory on the chip. This can be alleviated through software, but that requires non trivial engineering work. There will be software updates to improve vision kit, but we don't have concrete timeline to let our inference engine to support larger than 256x256 input yet. Also, model input size is not the only factor t

[2018-08-15 01:47] dmitriykovalev commented on #448
@ronmillsap Great! It's actually more related to [Google Assistant Library](https://github.com/googlesamples/assistant-sdk-python) than to our project :)

[2018-08-16 12:27] giacomobartoli commented on #446
Hey folks, this is the pre-trained model on coco.
Unfortunately, it performs poorly: after 752k iterations, I got 8% eval.
https://drive.google.com/open?id=17wxgzavz5Awy6MQ3GHsJrQBf3neEUpdA

Right now I am trying to re-train the network from scratch again, changing some hyper-parameters.
If I would reach better performances I will update this post.

<img width="854" alt="screen shot 2018-08-16 at

[2018-08-16 21:04] #441 closed, assigned to nobody

[2018-08-16 21:05] #442 closed, assigned to nobody

[2018-08-16 21:06] #436 closed, assigned to nobody

[2018-08-16 21:07] dmitriykovalev commented on #393
Please open new issues regarding new `HACKING.md`, closing this one now.

[2018-08-16 21:07] #393 closed, assigned to nobody

[2018-08-16 21:07] #387 closed, assigned to nobody

[2018-08-16 21:09] dmitriykovalev commented on #394
@mircea800  Are you still having this problem?

[2018-08-16 21:09] #380 closed, assigned to nobody

[2018-08-16 21:11] dmitriykovalev commented on #355
There should be no any dependency issues on the latest SD card image.

[2018-08-16 21:11] #355 closed, assigned to nobody

[2018-08-16 21:12] #307 closed, assigned to nobody

[2018-08-16 21:13] #331 closed, assigned to nobody

[2018-08-16 21:14] dmitriykovalev commented on #344
Please check the latest version of `HACKING.md`.

[2018-08-16 21:14] #344 closed, assigned to nobody

[2018-08-16 21:29] dmitriykovalev commented on #341
File `CHANGES.md` has been recently added.

[2018-08-16 21:29] #341 closed, assigned to nobody

[2018-08-16 21:54] dmitriykovalev commented on #319
We switched to PulseAudio, ALSA configs are not relevant anymore.

[2018-08-16 21:54] #319 closed, assigned to nobody

[2018-08-16 22:05] dmitriykovalev commented on #302
We now install https://freedesktop.org/software/pulseaudio/pavucontrol/ by default.

[2018-08-16 22:05] #302 closed, assigned to nobody

[2018-08-16 22:07] #282 closed, assigned to nobody

[2018-08-16 22:09] dmitriykovalev commented on #449
This issue probably should be reported to https://github.com/googlesamples/assistant-sdk-python/issues  We are actually using an old version (0.1.0) but going to upgrade soon.

[2018-08-16 22:10] #447 closed, assigned to nobody

[2018-08-16 22:12] #374 closed, assigned to nobody

[2018-08-16 22:14] #258 closed, assigned to nobody

[2018-08-16 22:15] dmitriykovalev commented on #242
`HACKING.md` was completely rewritten recently.

[2018-08-16 22:15] #242 closed, assigned to nobody

[2018-08-16 22:22] dmitriykovalev commented on #209
We have updated `HACKING.md`, `install-deps.sh` is not there anymore.

[2018-08-16 22:24] dmitriykovalev commented on #237
`aiyprojects` has been updated several times since this was opened, closing now.

[2018-08-16 22:24] #237 closed, assigned to nobody

[2018-08-16 22:26] dmitriykovalev commented on #211
Both `HACKING.md` and `README.md` have been recently updated.

[2018-08-16 22:26] #211 closed

[2018-08-16 22:27] dmitriykovalev commented on #250
This should be already fixed in the latest SD card image.

[2018-08-16 22:27] #250 closed, assigned to nobody

[2018-08-16 22:28] dmitriykovalev commented on #280
We are not using `virtualenv` anymore, everything should be working just by running `python3` directly.

[2018-08-16 22:28] #280 closed, assigned to nobody

[2018-08-16 22:29] #343 closed, assigned to nobody

[2018-08-16 22:52] dmitriykovalev commented on #324
@varad1311 Do you still have this issue even with the latest SD card image?

[2018-08-17 15:21] empiimp commented on #382
I unplugged it... I don't know of a solution to the timeout at this point. Did you find a solution?

[2018-08-17 16:53] hazemati opened #463 "No Sales support Team?"
Hey, I work for a startup company, we want to buy 100,000 units and want to speak with someone (I'm wondering if Google could cut the cost of individual unit. My understanding is that some stores originally sold them for $44, which is the price I'm looking for). I already tried calling the sales team for G-Suit, and emailed  support-aiyprojects@google.com (I didn't have any luck with either). Who

[2018-08-18 21:23] PeterMalkin commented on #463
Thank you for your interest. I believe you should have received communication by now.

[2018-08-18 23:46] hazemati commented on #463
Dear Mr. Malkin,
Thank you very much for getting in touch with me. Unfortunately, you're the first person I heard from. Please make sure that whoever is responsible contact me at ha245@cornell.edu. I look forward to hearing from you guys.
Thanks,
Houman

[2018-08-19 15:41] rollynoel commented on #458
This release does, however, fix the problem experienced by Voice 2 kit and Raspberry Pi 3B/3B+ as mentioned in [issue #400](https://github.com/google/aiyprojects-raspbian/issues/400).

[2018-08-20 14:55] hazemati commented on #463
Dear Mr. Malkin,
I wanted to thank you for doing taking care of this. Someone finally emailed me.
Regards,
Houman

[2018-08-20 14:55] #463 closed, assigned to nobody

[2018-08-21 03:33] indrora commented on #443
I'm going to toss my hat into the ring and mention that on a current Raspbian light, the process chokes out because of a file naming issue:

[code]

[2018-08-21 06:06] indrora opened #464 "Undocumented dependency on Numpy makes virtualenv use awkward"
The voice hat driver calls some numpy to make the volume happen. Unfortunately, this is neither described in `setup.py` nor is it, as a result, usable inside a virtual environment.

what I'm doing:

in a virtualenv, I've got pip reading the package as is described in HACKING.md

I've then done

```import aiy.voicehat as hat```

what should happen:

the module gets imported. World peace drifts over

[2018-08-21 08:46] manoj7410 commented on #464
@indrora Is virtualenv a necessity for your objective ?

[2018-08-21 16:13] indrora commented on #464
Yes, it is. Virtualenv is a hard dependency of Tox (unit tests) and basic python cleanliness. It's vaguely recommended by the PSF and generally considered a best practice. It separates you from any distribution-specific issues or highly out of date packages that may be lingering from slower distros (e.g. CentOS, etc).

A workaround is to generate a virtualenv with `--system-site-packages` as I dis

[2018-08-21 21:01] gqoew opened #465 "Bootstrapping cloudspeech example with a custom speech-to-text model"
Hi,

I am trying to bootstrap the repository examples to create a script that does the following:

1. Wait for user to push the button to start speaking.
2. Once button is pushed, start recording the user and stop when he/she has stopped speaking.
3. Transform the audio record in text with a custom model instead of the cloudspeech API.

From what I understood, it is quite seems similar to the [clo

[2018-08-22 18:03] gqoew opened #466 "Voice Hat is not working after install on fresh raspbian (HACKING.md)"
Hi,

I am following new [HACKING.md](https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/HACKING.md) for the Voice Kit on a fresh raspbian (RPI3 + Voice Hat), I did all the steps successfully until that `arecord -f cd test.wav` produced me an audio file without sound and `aplay test.wav` did not play any sound.

So I runned [check_audio.py](https://github.com/google/aiyprojects-raspbia

[2018-08-22 19:16] dmitriykovalev commented on #466
`check_audio.py` runs microphone and  speaker tests as well. If you have no errors, does it mean that these tests work for you?

[2018-08-23 00:03] dmitriykovalev commented on #464
`numpy` shouldn't be a dependency, will try to get rid of it.

[2018-08-24 12:13] childswong opened #467 "the mistake with burning aiyprojects into sd card"
format the sd card
iburned the aiyproject into the sd card
then start
the power light of the raspi was open at the first beggining,then shut down
the sd card light flashed alwasys
the hdmi is ok but stop in the start show (colour picture),not go into the system

[2018-08-25 17:45] cscottlamb opened #468 "Long delays when play and recording audio on the Voice Kit."
When running the stock image 2018-08-03 on the voice kit I'm seeing excessively long delays playing and recording audio.  Over two minutes to run the check_audio.py script.

pi@raspberrypi:~/AIY-projects-python/checkpoints $ time echo -e "y\n\ny\n" | ./check_audio.py
You have Voice Bonnet (v2) installed at index 0!
Playing a test sound...
Did you hear the test sound? (y/n) When you are ready, pres

[2018-08-28 04:41] hazemati opened #470 "Downsampling"
Hey, I'm trying to get the modivius chip to recognize objects in a 1920x080 image. My current understanding is that the modivius chip will downscale the image to 256x256 (or 160x160) because of the image size of the model. Is it possible to get the modivius chip to not downscale the images and instead run object recognition on the entire image?

[2018-08-28 04:52] dmitriykovalev commented on #470
There is a downscale step which matches input tensor size, e.g. 160x160 for [image classification](https://github.com/google/aiyprojects-raspbian/blob/93a6306438492464c25916b6b2f53d8e4750579b/src/aiy/vision/models/image_classification.py#L41). This directly depends on your compute graph and its inputs.

[2018-08-28 04:54] dmitriykovalev commented on #467
It's actually unclear what's happening from your description. Can you provide more details? It's always good to try to reflash SD card again.

[2018-08-28 04:55] dmitriykovalev commented on #468
Which Pi board do you use? Can please also provide `dmesg` output after running your test?

[2018-08-28 10:47] santhoshnp commented on #247
![screenshot 44](https://user-images.githubusercontent.com/39831264/44718450-bd95b700-aadd-11e8-8e62-6f7f71cd9a65.png

[2018-08-28 10:50] santhoshnp commented on #224
hi all i need help, in my vision bonnet kit camera is not enabling. i tried su
![screenshot 44](https://user-images.githubusercontent.com/39831264/44718636-4a407500-aade-11e8-99a8-5acb2478ebf9.png)
do raspi-config but no output

[2018-08-28 16:57] hazemati commented on #470
Why do you guys downscale? Is there any way to turn this off? So, I'm feeding 1080p30 into the the chip, and I'm trying an object that's farther away.  Is there a way to detect objects that are a little farther away (they will take up less space  in the image)?. Lets assume it takes up 1/10th of the actual image.

[2018-08-29 00:41] fjulian79 commented on #356
Ping .. Same problem here!
pholynyk's workaround does not work for me as I use my kit without a monitor, just have a ssh session!

[2018-08-29 00:48] dmitriykovalev commented on #224
@santhoshnp  check that your camera is proper connected physically.

[2018-08-29 01:44] cscottlamb commented on #468
Thanks for your help Dmitriy! I'm using the Pi Zero W that came with the kit.

Here is the dmesg output: [dmesg.txt](https://github.com/google/aiyprojects-raspbian/files/2330378/dmesg.txt)

The play back and record do end up working. Though I could never give it a voice command because I don't know when its 'really' starting the record. Actually I don't have that part working yet either, first thi

[2018-08-29 04:46] manoj7410 commented on #467
@childswong please make sure to use adequate power to boot the kit. It requires minimum of 2.1amp in order to boot properly.

[2018-08-29 04:50] manoj7410 commented on #466
@gqoew Can you share the output of lsmod right after booting ?

[2018-08-29 05:43] santhoshnp commented on #224
Thank for reply bro,

![whatsapp image 2018-08-29 at 11 00 40 am 1](https://user-images.githubusercontent.com/39831264/44767669-7b6f8280-ab7c-11e8-8f0c-5114e1a705b1.jpeg)
![whatsapp image 2018-08-29 at 11 00 39 am 1](https://user-images.githubusercontent.com/39831264/44767684-89bd9e80-ab7c-11e8-976d-1ea5fbe2eeb9.jpeg)
![whatsapp image 2018-08-29 at 11 00 39 am 2](https://user-images.githubusercont

[2018-08-29 05:48] santhoshnp commented on #224
I also have one doubt in joy detector,
while running vision kit it should be in active or inactive position,

[2018-08-29 05:50] manoj7410 commented on #224
@santhoshnp One thing you can try is to connect your camera directly with PI0 (Where short flex is connected currently). Then run the command "raspistill -o output.jpg" and check if camera is working.

By default joy_detection is enabled and make sure you stop it by running the command "sudo systemctl stop joy_detection_demo"

[2018-08-29 07:48] santhoshnp commented on #224
@manoj bro camera is working well in pi0 but camera is not enabling in vision bonnet i don't why.

[2018-08-29 07:59] onsky-hieu opened #471 "AIY recorder uses only one channel"
Hi,
I am using aiy voice kit V1 which uses Voice HAT microphone board. On the microphone board, there is 2-mic array. However, on _recoder.py library, currently it executes arecord with -c1 which means recording happens on a single channel.

Could you please kindly explain to me or I misunderstand the code?

One more thing, on [alsa website](https://www.alsa-project.org/main/index.php/Asoundrc), t

[2018-08-29 17:11] bowu-google commented on #470
hazemati, CNN classification models are trained with fix sized input images, i.e. they can not take images of arbitrary size. However, CNN detection models, if fully convolutional, can take images of various sizes. But due to memory constraint the input images must be tiled if too large. Could you please elaborate in your case, which particular model you trying to run?

[2018-08-29 17:28] dmitriykovalev commented on #471
`Recorder` class has a constructor parameter `channels` (which is 1 by default), so its behavior can be adjusted.

We recently switched to PulseAudio and don't need ALSA config anymore, please take the latest image from [releases page](https://github.com/google/aiyprojects-raspbian/releases).

[2018-08-29 17:32] dmitriykovalev commented on #224
@santhoshnp check camera connector latches for short flex cable (Pi board and Vision Bonnet board), they must be locked (not loose).

[2018-08-30 02:26] CarlP66 opened #472 "AIY Voice - Too Many Requests"
I have been using the AIY Voice kit for a couple of weeks, and all was going well - initially just with the assistant_library_demo, and more recently experimenting with local commands.
Then today, literally mid-conversation it completely died. I now get error message "429 Client Error: Too Many Requests for url: https://embeddedassistant.googleapis.com...." (full version below) every time I run an

[2018-08-30 05:26] santhoshnp commented on #224
@dmitri
raspistill -w 1640 -h 922 -o image.jpg
mmal: Cannot read camera info, keeping the defaults for OV5647
mmal: mmal_vc_component_create: failed to create component 'vc.ril.camera' (1:ENOMEM)
mmal: mmal_component_create_core: could not create component 'vc.ril.camera' (1)
mmal: Failed to create camera component
mmal: main: Failed to create camera component
mmal: Camera is not detected. Please

[2018-08-30 05:43] santhoshnp commented on #224
any one help me how to update raspistill camera app v1.3.11 why because i am using v2.1
please help me
raspistill -v
mmal: Cannot read camera info, keeping the defaults for OV5647

raspistill Camera App v1.3.11

Width 2592, Height 1944, quality 85, filename (null)
Time delay 5000, Raw no
Thumbnail enabled Yes, width 64, height 48, quality 35
Link to latest frame enabled  no
Full resolution preview

[2018-08-30 07:39] dmitriykovalev commented on #224
@santhoshnp check flex connectors.

[2018-08-30 13:36] manoj7410 commented on #465
@gqoew if you look at the constructor in:

 `class _WaveDump(object):
    """A processor that saves recorded audio to a wave file."""

    def __init__(self, filepath, duration):
        self._wave = wave.open(filepath, 'wb')
        self._wave.setnchannels(1)
        self._wave.setsampwidth(2)
        self._wave.setframerate(16000)
        self._bytes = 0
        self._bytes_limit = int(duration

[2018-08-30 20:42] jfatula opened #473 "AIY Voice: any plans for send_text_query() API in Assistant?"
I've just begun working with VoiceKit (V1) on a Pi3  using the August 3rd 2018 AIY projects image (aiyprojects-2018-08-03.img.xz).  I soon found that the send_text_query() API call documented for the [google.assistant.library.Assistant public release](https://developers.google.com/assistant/sdk/reference/library/python/) isn't present in the aiyprojects build:
[code]
Are there plans to include it

[2018-08-30 21:06] hazemati commented on #470
My initial tests were run with the MOBILENET, (I was doing image classification). Is it safe to assume that the current object detection models that were provided were not fully convoluted? Since the camera is directly connected to the modvius chipset, is there any way that tiling could be performed by the modivius chip?

[2018-08-30 23:40] hazemati commented on #470
Also, tilings an ok solution, but what if the object is between the tiles?

[2018-08-31 05:18] santhoshnp commented on #224
I think my camera version 2.1 but when I type raspistill -v (display the version as v1,3)
I think this is the problem.
can any one help me

![screenshot 47](https://user-images.githubusercontent.com/39831264/44893966-1c8c4380-ad0b-11e8-8d40-6ea717246c45.png)

[2018-08-31 13:09] fjulian79 commented on #356
Btw .. I have used aiyprojects-2018-08-03.img.xz ... so maybe the Ticket should be renamed in "Mic volume too low since 2018-04-13 image"

[2018-08-31 13:18] jessecha opened #474 "AIY vision kit with a different camera"
Is it possible to use the vision board with a different camera?
I know the V1 is not supported, but is it possible to create a generic driver for the vision bonnet? I would like to use a 360 camera.

[2018-08-31 15:38] CarlP66 commented on #472
The issue resolved itself the next day, so all is good for now. I am assuming it was a glitch at google's end.

[2018-08-31 15:38] #472 closed, assigned to nobody

[2018-08-31 18:15] dmitriykovalev commented on #474
Pi Camera is fully managed by Pi's driver, VisionBonnet just intercepts raw image frames. There is a crypto chip on Pi Camera, so Pi's driver will not work with any custom camera.

[2018-08-31 20:12] jessecha commented on #474
If this is the case, why doesnt the vision bonnet work with a v1 camera? I was specifically looking at using a kogeto dot camera for the vision bonnet

[2018-09-01 01:32] dmitriykovalev commented on #474
v1 and v2 have completely different image sensors (OmniVision vs Sony) and our internal imaging pipeline on Myriad is optimized for v2. Why don't you use v2 with Kogeto Dot?

[2018-09-01 05:22] hazemati commented on #470
Is there any way to run a Yolo based object detection model on the google vision kit? also, how do the provided image classification/ object detection models deal with scale in variance?

[2018-09-02 01:41] TM-hub opened #475 "Click/pop noise at end of aiy.audio.say() playback in 2018-08-03 image"
Seems to be due to the _volume level_ modifier in _say()_ (in file aiy/voice/tts.py)
To recreate, from the command line:

**Click version**
`pico2wave -w ~/temp.wav -l en-US "<volume level='40'>hello</volume>"`
`aplay  ~/temp.wav`

**No click version**
`pico2wave -w ~/temp.wav -l en-US "hello"`
`aplay  ~/temp.wav`

The click version above has the same result (makes a click/pop) on both 2018-08-03

[2018-09-02 10:04] algila opened #476 "Using Smartphone as monitor to stream video is not working"
Hi,
Connecting the kit to an Android SmartPhone via SSH I am fully able to see and control the terminal (having both on the same WiFi net).
Using VNC viewer I am also able to see the AIY kit desktop, but running for instance `./face_detection_camera.py `
I am not able to see the stream video on my mobile. I am only able to see the terminal information.

The stream video is visible on the monitor w

[2018-09-02 10:14] algila opened #477 "Vision Bonnet Button Connector pinout"
Is it possible to have the Vision Bonnet Button Connector pinout ?
I whould use a smaller button to reduce the final package of the AIY kit.

[2018-09-02 13:54] JITESHNAIR01 opened #478 "Unable to autoboot Google AIY voice kit V1 getting folowing error"
● assist.service - Assist @ reboot
   Loaded: loaded (/etc/systemd/system/assist.service; enabled)
   Active: failed (Result: start-limit) since Sun 2018-09-02 06:44:18 PDT; 49s ago
  Process: 18286 ExecStart=/home/pi/AIY-projects-python/src/examples/voice/main.py (code=exited, status=1/FAILURE)
 Main PID: 18286 (code=exited, status=1/FAILURE)

Sep 02 06:44:18 raspberrypi systemd[1]: assist.servic

[2018-09-02 14:48] Superdrac opened #479 "Play music through deezer"
Hi, I have installed the latest image on my SD card.

I tried the assistant_library_demo.py and everything is working. I can ask question, get the weather for tomorrow (I've set the address of the device though google assistant app on my phone)

But I can't play music through my linked deezer account. Is it normal ?

[2018-09-03 03:53] manoj7410 commented on #479
@Superdrac Yes, it is normal because feature of playing music is still not part of the Google Assistant SDK. You can refer https://developers.google.com/assistant/sdk/release-notes to get more details.

[2018-09-03 03:58] manoj7410 commented on #478
@JITESHNAIR01 Did you follow all the instructions given at : https://aiyprojects.withgoogle.com/voice/#makers-guide-run-your-app-automatically

And are you able to start the assistant demos manually ?
Can you paste the full error ?

[2018-09-03 05:43] manoj7410 commented on #356
@fjulian79 which version of voice kit do you have ?

[2018-09-04 01:16] dmitriykovalev commented on #476
@algila This is a correct behavior, video from the camera goes directly to the HDMI output and bypasses any desktop compositing. There is a way though to watch camera video in the browser, but it's still experimental, check the [source code](https://github.com/google/aiyprojects-raspbian/tree/aiyprojects/src/aiy/vision/streaming). Video steaming is enabled by default for JoyDemo, so just point you

[2018-09-04 01:17] #479 closed, assigned to nobody

[2018-09-04 01:21] dmitriykovalev commented on #478
@JITESHNAIR01 Can you provide the full log output using `-l` option? Having "..." doesn't give much information. Can you also share your `assist.service` file?

[2018-09-04 01:27] dmitriykovalev commented on #473
@jfatula Our assistant library version is pretty old, we have plans to update it for the next SD card image release (we don't have exact date yet). You can try to install new library version yourself and see if it's working.

[2018-09-04 12:00] rodrigob commented on #181
Based on [this post](https://groups.google.com/forum/#!topic/google-assistant-sdk-updates/zMVgRYQpgpw), it seems that new languages are now supported ?

[2018-09-04 16:42] bowu-google commented on #470
Re comment #5:
the current object detection models provided is a fully convolutional model. the constraint on input size is due to the on-chip memory size, not the model architecture. yes, it's possible to do tiling on modivius chip, but it's not implemented in the current version

Re comment #6:
vision kit does not support Yolo model officially, but feel free to try the model compiler on it. if i

[2018-09-04 17:48] algila commented on #476
Many thanks.

About the Video steaming enabled by default for JoyDemo using Mozilla firefox in Ubuntu 18.04
I see it and with a very small latency. To me it is very good considering also that I'm using my samsung table as WiFi rooter between AIY kit and my desktop PC.

About the source code, may you drive me a little bit more in details about how I need to change face detector to get streaming vid

[2018-09-04 21:12] SwannSchilling opened #480 "Bonding Boxes On Other Classifiers"
Is there any chance to get bounding boxes on other image classifiers than the face and the person, cat, dog classifier.
I would love to get those out of my camera Interference, to move a servo...

[2018-09-05 03:15] hazemati commented on #470
So exactly what is the highest resolution that i can go to before I have to do tiling?

[2018-09-05 07:27] genus1 opened #481 "Board version compatibility with pi versions"
I have a pi3b+ with voice kit version 1.  I have looked everyplace to find what board works with which pi.  I find that nothing really works out of the box.  I flashed the chip and the desktop with all updates show fine.  The wifi test works ok.  The audio test says, "You have voice hat (V1) installed at index 0!  Did you hear the sound?"   I do not hear sound.  All is connected correctly, and I t

[2018-09-05 08:11] manoj7410 commented on #481
@genus1 I have a PI3B+ with voice V1 Hat and with sdcard image https://github.com/google/aiyprojects-raspbian/releases/tag/v20180803

And speaker is working fine out of the box. Which sdcard image do you have ?

[2018-09-05 08:53] a7ypically opened #482 "AIY vision - running my model on the device returns different results"
Hi,

I guess I'm missing something but couldn't quite figure out what.
I'm just trying to run a simple model as a test. This model has two conv layers and a FC layer. It was trained on hand SIGNS dataset taken from Coursera's conv network course with images of 64x64x3.
I freezed the graph and ran the model on an example image on my laptop which returned the correct result but running the same mode

[2018-09-05 23:02] dmitriykovalev commented on #481
@genus1 You should use the latest SD card image. You can also try to run `sudo dtoverlay googlevoicehat-soundcard` manually and see if that helps.

[2018-09-05 23:06] dmitriykovalev commented on #480
[Object Detection](https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/aiy/vision/models/object_detection.py) model does support bounding boxes, please check e.g. [here](https://github.com/google/aiyprojects-raspbian/blob/93a6306438492464c25916b6b2f53d8e4750579b/src/aiy/vision/models/object_detection.py#L49).

[2018-09-05 23:13] dmitriykovalev commented on #476
I guess you can just go through the source code of [JoyDemo](https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/examples/vision/joy/joy_detection_demo.py) and see how `StreamingServer` and  `InferenceData` classes are used. You can update face detector example in the similar way. This is still experimental and could be changed in the future.

[2018-09-06 00:52] SwannSchilling commented on #480
Thanks a lot for the information! :)

[2018-09-06 00:57] dmitriykovalev commented on #480
No problem!

[2018-09-06 00:57] #480 closed, assigned to nobody

[2018-09-06 16:10] davesdere opened #483 "AIY Vision install only working with pi user in pi group"
Hi!
I noticed some great updates to the project and I want to update my device. The setup scripts returned quite a few errors. Which one of them had to do with my user not being

` pi:pi`
I had removed the pi user and the pi group for security purposes but now it looks like I am gonna have to back up my custom code and start with a fresh image.
Is there a workaround about this?

Here's more detail

[2018-09-07 07:21] jass-singh-zz opened #484 "unable to create .binaryproto for vision kit"
I wanted to convert pretrained model (mobilenet_v1_0.5_160_quant_v1.pb) into .binaryproto,
commands used :-

./bonnet_model_compiler.par \
  --frozen_graph_path=./mobilenet_v1_0.5_160_quant_frozen.pb \
  --output_graph_path=./mobilenet_v1_0.5_160_quant_v1.binaryproto \
  --input_tensor_name="Placeholder" \
  --output_tensor_names="final_result" \
  --input_tensor_size=160 \
  --debug

It shows err

[2018-09-07 16:59] titusece opened #485 "How to test AIY audio for loopback audio card"
Hello,
I have audio device which links to audio loopback card and want to stream the audio data from that loopback sound card.
I have tried to use the below loopback sound card for this AIY stuff and not able to do audio recognition.
https://github.com/google/aiyprojects-raspbian/tree/aiyprojects/src/examples/voice

[code]

[2018-09-07 23:42] scottamain commented on #477
Absolutely. We'll put it online soon. For now, see the attached image

![vision-button-pinout](https://user-images.githubusercontent.com/1672461/45247491-e62b6700-b2bc-11e8-9d8a-b900ba6f3ce6.jpg)

[2018-09-08 21:49] virtualjmills commented on #476
Regarding: https://github.com/google/aiyprojects-raspbian/issues/476#issuecomment-418213773

Alternatively, you can reconfigure X11 VNC Server to snoop the direct render layers as well, with a slight overall performance penalty:

VNC Server -> [=] Menu -> Options -> Troubleshooting...

Optimize Screen Capture
[X] Enable Experimental Direct Capture Mode

[OK]

Then disconnect and reconnect your VNC

[2018-09-08 23:17] virtualjmills commented on #350
@dmitriykovalev -- Would it be accurate to describe this configuration from a block-diagram perspective as the Myriad "tapping" the RAW datastream as it passes between PiCamera and Pi, so both Myriad ISP and Pi ISP think they're directly fed the RAW datastream from the PiCamera?

Electrically it's obviously a bit more complicated.  :-)

[2018-09-10 07:11] jfatula commented on #473
@dmitriykovalev Thanks! Using the default August 3rd 2018 AIY projects image,  I ran
`sudo pip3 install --upgrade google.assistant-library` to upgrade the library, which now reports its version as {'package': '1.0.0', 'core': 120038}.  This version does include the send_text_query() API call and preliminary testing shows the call to work as documented, and so far I haven't encountered other issues

[2018-09-10 08:52] gqoew commented on #465
@manoj7410 👌

[2018-09-10 15:53] titusece opened #486 "How to modify aiy audio driver to support 8KHz audio"
Hello,
I have 8KHz sampling frequency supported audio file and want to use with aiy stuff, but seems it supports default 16KHz, how can I modify the aiy for 8KHz ?
https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/aiy/_drivers/_recorder.py

TO

I did this, but it doesn't work, can you please help me out on this.
Thanks for the support.

[2018-09-10 22:47] dmitriykovalev commented on #350
@virtualjmills Yep, your description is pretty accurate.

[2018-09-10 22:49] dmitriykovalev commented on #476
@virtualjmills Thanks for sharing this info!

[2018-09-10 22:53] dmitriykovalev commented on #473
@jfatula Perfect!

[2018-09-10 22:53] #473 closed, assigned to nobody

[2018-09-10 22:54] dmitriykovalev commented on #465
Looks like the problem is solved.

[2018-09-10 22:54] #465 closed, assigned to nobody

[2018-09-10 22:57] dmitriykovalev commented on #486
`_recorder.py` is a class to record audio from the microphone to the file. You already have a file, right? How are you going to use your file?

[2018-09-10 23:07] weiran-work commented on #484
@jass-singh
First of all, VisionKit does not support quantized model.

We did release some pretrained models, you can download this file
https://dl.google.com/dl/aiyprojects/vision/tf_models_latest.tgz

Decompress it and you can find `README.md`.  and use the corresponding input tensor and output tensors name in the table.

For your graph, pass
--input_tensor_name="input"
--output_tensor_names="Mo

[2018-09-11 06:05] algila commented on #476
Many thanks @virtualjmills it is working quite easily.
Unfortunately the refresh latency is very high around 1 or 2 second. Is it possible to reduce it with some settings ?

[2018-09-11 07:09] algila commented on #477
Many thanks,
- may you also communicate how to connect the led to the related pin ? I suppose the pin is closing to
  Ground, is it correct ? What is the max current ?
- About pin 1 what is the max current it should absorb ?
- About pin6 BTN. If it is the button, do I need to connect the second button's pin to GND or 5V  ?

[2018-09-11 14:35] titusece commented on #486
Hi,
Thanks for your reply.
I am using the following code and it uses the aiyprojects-raspian code.
https://github.com/senyoltw/DANBOARD/blob/master/mod/detect_intent_stream.py
I have audio mic which supports 8KHz only.

[2018-09-11 15:34] nunziofiore opened #487 "quota exceed"
Hi all,
 I don't understand where can I set to use pay per use call when I have
"429 Client Error: Too Many Requests for url"
I understood that I overflow my 500 call for days but I'm in development and need a lot of more call.

I also upgraded my account to a pay per use account using also the free credit, but I don t see any difference and my scripts are all blocked with the same error. Someone

[2018-09-11 18:42] dmitriykovalev commented on #486
Looks like you are not using VoiceKit then. `_recorder.py` just generates `arecord` command line and executes it. You can try to run generated command line directly from the console and see what happens and how it fails.

https://github.com/google/aiyprojects-raspbian/blob/93a6306438492464c25916b6b2f53d8e4750579b/src/aiy/_drivers/_recorder.py#L60-L68

[2018-09-12 04:04] manoj7410 commented on #487
@nunziofiore error 429 usually means that server is getting the spam requests. I am not sure about 500 calls limit because I am using the voice kit for last 4 months and never saw this on my kit. Only time I saw this error on voice kit, is this github issue : https://github.com/google/aiyprojects-raspbian/issues/472

Did you wait for a while and then tried again ?

If you are trying to automatical

[2018-09-12 14:41] titusece commented on #486
Thanks for the reply.
Modified this arecord stuff for my audio source and also modified the following file for 8KHz, then its working as expected.
https://github.com/senyoltw/DANBOARD/blob/master/mod/detect_intent_stream.py

Thanks again.

[2018-09-12 14:41] #486 closed, assigned to nobody

[2018-09-12 14:43] titusece commented on #485
Modified the below code for my audio card and it works. Thanks.
~/AIY-projects-python/src/aiy/_drivers/_recorder.py

[code]

[2018-09-12 14:43] #485 closed, assigned to nobody

[2018-09-13 05:14] slloyd88 commented on #430
I get the same thing if I try to run the tests as root instead of pi

[2018-09-13 05:27] manoj7410 commented on #430
@slloyd88 That is because environment of root user is not setup as per the requirement. You can see the difference between environment of "root" and "pi" by running the command printenv (Once with root and then with pi).

[2018-09-13 06:12] slloyd88 commented on #430
Is there a way for me to setup root also?  I assume you mean that root needs all the INFINALITY_ environment keys set.  Since I used the image per the instructions at https://aiyprojects.withgoogle.com/voice/ I am not sure what else needs to be setup.

[2018-09-13 06:46] RickZLLiao opened #488 "Model 'object_detection' is not loaded."
Hi

   I retrain with MobileNet SSD V1 with 256x256 DM=0.125，but I got an issue as follw
Could anybody solve the issue ?
pi@raspberrypi:~/AIY-voice-kit-python/src/examples/vision $ ./object_detection.py --input glassskew_Resized.png --output glassskew_detected.png
Traceback (most recent call last):
  File "/opt/aiy/projects-python/src/aiy/_drivers/_spicomm.py", line 128, in transact
    fcntl.ioct

[2018-09-13 10:19] RickZLLiao commented on #488
My Config was as follow:

# SSD with Mobilenet v1, configured for Oxford-IIIT Pets Dataset.
# Users should configure the fine_tune_checkpoint field in the train config as
# well as the label_map_path and input_path fields in the train_input_reader and
# eval_input_reader. Search for "PATH_TO_BE_CONFIGURED" to find the fields that
# should be configured.

model {
  ssd {
    num_classes: 1
    box_

[2018-09-13 10:49] kissste commented on #488
I have had this issue before, something is wrong with your model.
The chip is not able to handle. Based on my web searching, nobody knows what is wrong. It simply fails during execution.

Solution - use a model that works to start with and retrain that one.

[2018-09-13 12:55] slloyd88 opened #489 "AIY voicehat sound stopped working"
Can you please help me debug why my voicehat stopped working?  It was working but now it is not. Not sure what I did that made it stop. I have two of them and it is not working on either anymore so I am sure it is a software issue.

pi@raspberrypi:~/AIY-projects-python/checkpoints $ ./check_audio.py
Playing a test sound...
Did you hear the test sound? (y/n) n
There may be a problem with your speak

[2018-09-13 14:34] chadwallacehart opened #490 "CameraInference crashes consistently on Pi 3B (aiy.vision.inference.InferenceException)"
**Issue**
Demos that use `CameraInference` crash a few minutes to a few hours after starting. I used the [face_detection_camera.py](https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/examples/vision/face_detection_camera.py) example without parameters but this happens with all 'CameraInference' code I have used.

There is nothing obvious that instigates the crash. Sometimes it hap

[2018-09-13 17:51] dmitriykovalev commented on #490
@chadwallacehart Are you using the latest SD card image from [releases](https://github.com/google/aiyprojects-raspbian/releases) page? Could you please also share the output from `dmesg` command when everything crashes?

[2018-09-13 17:54] dmitriykovalev commented on #489
Can you please check everything with the latest SD card image from the [releases](https://github.com/google/aiyprojects-raspbian/releases) page?

[2018-09-13 17:57] dmitriykovalev commented on #430
@slloyd88 Could you please point to the instructions which require root usage?

[2018-09-13 18:09] dmitriykovalev commented on #477
We use this part https://www.kinet-ic.com/ktd2027/ as a LED driver, I guess you can find all information there. LEDs are active-low by the way.

[2018-09-13 19:56] chadwallacehart commented on #490
There is a good chance I started with the `2018-08-03` image, but I am not 100% sure. Is there a way to check?

Note in my efforts to fix this, I tried upgrading to the latest version with:
`sudo apt-get update; sudo apt-get upgrade; sudo reboot`. That actually broke some elements (I got warnings of missing libraries when running the demos),
so I followed the [HACKING.md](https://github.com/google

[2018-09-14 00:38] RickZLLiao commented on #488
Could you please provide the check point file & Mobile SSD V1 config file to me, then I could train it myself. thanks.

[2018-09-14 01:40] mircea800 commented on #394
I just downloaded another copy of bonnet_model_compiler.par and the latest mobilenet_v1_160res_0.5_imagenet.pb, but same problem with an "unexpected error".  And still no log file in the "bonnet_model_compiler.runfiles-mircea" subfolder in the /tmp directory.

[2018-09-14 02:36] jimbo95-beep opened #491 "This new aiy image file would not download completed or failed"
I tried to download the new image file more then once and it failed to download or was incomplete

[2018-09-14 03:46] manoj7410 commented on #491
@jimmy95 Where are you downloading it from ?
Can you try to download it from : https://github.com/google/aiyprojects-raspbian/releases/tag/v20180803

[2018-09-14 10:35] kissste commented on #488
You will find what you are looking for here:
https://github.com/google/aiyprojects-raspbian/issues/402
and
https://github.com/google/aiyprojects-raspbian/issues/314

[2018-09-14 11:42] RickZLLiao commented on #488
Today i retrain Embedded MobileNet V1 SSD in the tensorflow 1.10，compiled successful. But i got same problem - Model 'object_detection' is not loaded.
How to get rid of it ?

[2018-09-14 11:52] RickZLLiao commented on #488
my transfer command was as follow :
./bonnet_model_compiler.par --frozen_graph_path=./Glass_skewEmbeded_MobileNet_SSD_Res256_DM_P125/Glassskew_Embeded_Model_256_256_DM_P125_20180914_1857.pb --output_graph_path=./Glass_skewEmbeded_MobileNet_SSD_Res256_DM_P125/Glassskew_Embeded_Model_256_256_DM_P125_20180914_1857.binaryproto --input_tensor_name="Preprocessor/sub" --output_tensor_names="concat,concat

[2018-09-14 17:36] dmitriykovalev commented on #491
@jimmy95 Which error did you get and which URL did you try?

[2018-09-14 17:42] dmitriykovalev commented on #490
That's weird but something similar already happened before. Can you try solution from #418 by decreasing ARM frequency? Another option to consider:  https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/docs/vision.md#troubleshooting

[2018-09-14 18:01] weiran-work commented on #394
@mircea800

I tried again on Ubuntu 16.04, installed on a VirtualBox. It works fine. It's hard to imagine this is caused by running Ubuntu on MBP directly. But would you mind to try again with Ubuntu installed in VirtualBox?

[2018-09-14 18:09] weiran-work commented on #488
@RickZLLiao @kissste

VisionKit has very limited HW resources and it can only support particular architecture with specific configuration.

When you configure the training pipeline, start with embedded_ssd_mobilenet_v1_coco.config,
https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/embedded_ssd_mobilenet_v1_coco.config
That one is VisionKit friendly.

We pro

[2018-09-14 20:07] chadwallacehart commented on #490
ok, tried both of those (independently, not at the same time) but unfortunately neither made a difference.

Remember this is a Pi 3, so I dropped the CPI from the usual 1.2GHz to 800MHz.

`dmesg | grep aiy` again for reference:
[code]

[2018-09-15 01:55] zouzhe1 opened #492 "How to use AIY in the official system of raspberry?"
I didn't use the img provided by the AIY project, so how should my sound driver, speaker and microphone driver be set? Is ALSA using?

my AIY is  voice v1 @atvrager @dberlin

[2018-09-15 01:57] zouzhe1 commented on #492
And Is this aiy project hardware open source? Where can I find the SCH and PCB for voice v1?

[2018-09-15 04:23] LuwkasLima commented on #420
Hi Guys,

I'm with the exactly same scenario: Trying to run one of the examples of the AIY Vision kit in a clean raspbian setup.

I've followed all the steps and got the following packages installed:

[code]
However, when I run any of the examples, I get the following message:

`FileNotFoundError: [Errno 2] No such file or directory: '/dev/vision_spicomm'`

I've also tried the spicomm_test.py:

[c

[2018-09-15 19:40] RickZLLiao commented on #488
@sainttelant
Thanks for your help! Would I have to reflesh Image first ?

[2018-09-15 22:33] algila commented on #446
Hi @giacomobartoli ,
may you kindly upload also the config file you used ?
I would try to improve a little bit your score.
Did you inizialized the weights randomly at the beginning ?

[2018-09-15 22:36] giacomobartoli commented on #446
I used the default configuration file.
Anyway, I'll look through the original papers: without a pre-trained model on Imagenet it is almost impossible to obtain good results for it.

[2018-09-17 07:44] nunziofiore commented on #324
without any update to the code I have the same issue. Last week it was ok and I have a quick response, today I have 15/20seconds to wait. No problem on my wifi speed.

[2018-09-17 08:02] RickZLLiao commented on #488
@sainttelant
I test 4 case，
(1)python3 test_run_model_on_bonnet.py --model_path /opt/aiy/models/mobilenet_ssd_256res_0.125_person_cat_dog.binaryproto --input_height 256 --input_width 256  ==>Default Model，It's ok.
(2)python3 test_run_model_on_bonnet.py --model_path /opt/aiy/models/Glassskew_Embeded_Model_256_256_DM_P125_20180914_1857.binaryproto ==> It's failed. (My training model - Embeded Mobile

[2018-09-17 09:22] RickZLLiao commented on #488
Sorry sainttelant，I attach wrong person。 I need your help，weiranzhao.

[2018-09-17 09:27] RickZLLiao commented on #488
@sainttelant & @weiranzhao，I need your help.

[2018-09-17 17:20] jimbo95-beep opened #493 "Aiy image"
I have downloaded the new image file from this git-hub the recording sound back on voice record will not work?

[2018-09-17 17:58] weiran-work commented on #488
@RickZLLiao Quick thing to check, are you on the latest SD card image?

[2018-09-17 22:28] dmitriykovalev commented on #490
Did you try to use the same VisionBonnet with Pi Zero? Unfortunately, we didn't do much testing on Pi3 but it was working fine in all cases on our Pi3 boards. By the way, is camera working fine when you run `raspivid -t 0`?

[2018-09-17 22:42] dmitriykovalev commented on #492
@zouzhe1 Regarding you second question: SCH and PCB are not available for public. Regarding the first question, please take a look at https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/docs/voice.md#drivers. You need to enable VoiceHAT overlay on the Raspbian image and everything should start working. You probably also need to comment out `dtparam=audio=on` in the `/boot/config.txt` t

[2018-09-17 22:45] dmitriykovalev commented on #324
@nunziofiore Can you try check Cloud Speech web control panel and see if everything is fine there?

[2018-09-17 22:47] dmitriykovalev commented on #493
@jimmy95 Everything should work with the latest image. What kind of problem do you have and which board do you use?

[2018-09-17 23:05] chadwallacehart commented on #490
I ran `raspivid -p -f -t 0` overnight without issue.

I picked up a new Vision Kit to help try to isolate the issue, so I'll report back.

[2018-09-17 23:51] RickZLLiao commented on #488
@weiranzhao，I'm not update to latestest SD card image. I'll try today, and let you know the result, thanks.

[2018-09-18 02:34] RickZLLiao commented on #488
@weiranzhao，After i update  the latestest SD card image (aiyprojects-2018-08-03.img)，i got errors as follow : (No such file or directory: '/dev/vision_spicomm')

 pi@raspberrypi:~/AIY-projects-python/src/examples/vision $ python3 any_model_camera.py --model_path /opt/aiy/models/Glassskew_Embeded_Model_256_256_DM_P125_20180914_1857.binaryproto --input_height 256 --input_width 256
Traceback (most re

[2018-09-18 05:27] RickZLLiao commented on #488
@weiranzhao，I try commands as follw, but i got same error
==> sudo apt-get update; sudo apt-get upgrade; sudo reboot
==> dpkg -l aiy*
from : https://aiyprojects.withgoogle.com/help/#updating-your-sd-card

[2018-09-18 07:19] rangodjango commented on #401
hi there, I am new to raspi. I have similar problem related with mouse and keyboard connected with AIY Vision Kit. Current AIY Vision kit version being used is v1.1 and so far,it able to boot without any tone heard and shows desktop icons but the keyboard and mouse unable to function although they are connected to the USB hub.It turns to black screen after 5 minutes its booted. How can I troublesh

[2018-09-18 07:39] manoj7410 commented on #401
@rangodjango Have you installed the latest sdcard image ? Latest sdcard image can be downloaded from : https://github.com/google/aiyprojects-raspbian/releases/tag/v20180803

And please make sure that your are using at least 2.1amp of power adaptor to boot the kit.

[2018-09-18 07:52] weiran-work commented on #488
@RickZLLiao

That error seems like system issue. Could you try to reflash the sd card with latest image?

[2018-09-18 07:52] weiran-work commented on #488
@dmitriykovalev

Any idea on the error message after reflashing?

[2018-09-18 09:07] RickZLLiao commented on #488
@weiranzhao，After i update the latestest SD card image (aiyprojects-2018-08-03.img) & finishing update，I also found
message : ' Failed to start load kernel modules ' , when rebooting in the first line.

[2018-09-18 09:23] manoj7410 commented on #488
@RickZLLiao There is some issue going on with apt-get upgrade. Download the sdcard image from : https://github.com/google/aiyprojects-raspbian/releases/tag/v20180803 and you need not to perform any upgrade on it.

[2018-09-18 10:37] jass-singh-zz commented on #484
Thanks @weiranzhao ,
using those commands i was able to convert successfully,

Actually i want to initially detect the animal like dog using 1 model , than perform classification on it using classifier by passing only that part of image which would be detected as dog by the model. At last display label with the breed of dog.

So, is it possible to combine 2 models in Vision kit ?
If yes , please s

[2018-09-18 12:46] RickZLLiao commented on #488
@manoj7410，thanks your responding, i'll try it. And let you know the result.

[2018-09-18 17:12] weiran-work commented on #484
@jass-singh

There are 2 methods I can think of to achieve what you need.

1) retrain a detector, that can recognize more dog breeds.
2) Have 2 separate models, a) detector b) classifier. You need to run detector on the input stream, and get result (bounding box and image) from VisionBonnet (the accelerator on top of pi board). Then you can crop the image based on bounding box  on pi and then send

[2018-09-18 18:03] jimbo95-beep commented on #493
I am using raspberry pi 3 with board from magpi 57 v1 or v-0

On Mon, 17 Sep 2018 at 23:47, Dmitriy Kovalev <notifications@github.com>
wrote:

--
j r harris

[2018-09-18 18:07] jimbo95-beep commented on #493
I v'e tried using the image file from git-hub  2018- 03 image  I had to wait a long time for it to download.

[2018-09-19 02:16] RickZLLiao commented on #488
@weiranzhao
@manoj7410
@dmitriykovalev
After download the sdcard image from:  https://github.com/google/aiyprojects-raspbian/releases/tag/v20180803，i could excute my embedded_mobilenet_ssd model successfully。
I excute cat detection and pikachu detection also successfully.
Thanks all your help.

[2018-09-19 02:39] rangodjango commented on #401
@manoj7410 @dmitriykovalev I have a question, let's consider that I already install the latest image on AIY Vision Kit v1.1 and, both keyboard and mouse still not functioning, what action can I take to overcome this, if this happened? Thanks.

[2018-09-19 02:56] dmitriykovalev commented on #401
@rangodjango Mouse and keyboard should work normally with any SD card image. Please make sure to use good power supply as @manoj7410 already suggested.

[2018-09-19 02:58] dmitriykovalev commented on #490
@chadwallacehart Please try to run old VisionKit on Pi Zero if possible.

[2018-09-19 05:20] #488 closed, assigned to nobody

[2018-09-19 07:32] putifar commented on #401
In my case i got everything working by using a better power supply. It
worked with a 2A power supply when close to the wifi router and no
keyboard/mouse/screen connected. But when connecting mouse/keyboard/screen
it needed a more powerfull powersupply, I used a 3.5A  and moved closer to
the wifi router and everything worked fine.

Op wo 19 sep. 2018 om 04:57 schreef Dmitriy Kovalev <
notifications

[2018-09-19 08:01] rangodjango commented on #401
I did try to modify config.txt by adding the said lines. Once I change it and turn on the vision kit, it seems no change at all, keyboard & mouse can't be detected. But, the desktop icons and joy detector still working since the joy LEDs functioning.

[2018-09-20 15:45] sagescolorado commented on #457
same issue -  i'm using Ubuntu made 16.04 on an rpi3

I get the same error every time I install anything now.

Error message:
Setting up aiy-python-wheels (1.0-0) ...
Failed to execute operation: Too many levels of symbolic links
dpkg: error processing package aiy-python-wheels (--configure):
 subprocess installed post-installation script returned error exit status 1
Errors were encountered while

[2018-09-21 03:53] RickZLLiao opened #495 "After training with Embedded mobilenet SSD, but detection not thing"
Were anybody training with embedded mobilenet ssd, but detecting not thing.
I train with pretrain file from  zhoujustin. ==>https://drive.google.com/file/d/1_MeZ8kvmpNibPZvSJGnwKNRATeuyxNtu/view
Then zhoujustin saved the day and shared a trained model based on the 20-class VOC dataset.
I had trined 30000 epoch. But i couldn't detect my training images.
If anyone could provide me some suggestions ?

[2018-09-21 04:01] RickZLLiao commented on #495
My learning rate was e-4. But detect nothing, so i change to e-6. After training 300000 epoch, it couldn't detect my target.

[2018-09-21 08:01] rangodjango commented on #401
nevermind..it can detect both keyboard & mouse now. Thanks for help @dmitriykovalev  @putifar

[2018-09-21 21:05] promasu commented on #443
Just ```mkdir /usr/lib/systemd/system``` and then the installation works

[2018-09-23 11:53] chadwallacehart commented on #490
Ok, I did some additional tests. I was assuming that
1. there is some incompatibility between the Vision Bonnet and the Pi 3B or
2. my Vision Bonnet was malfunctioning

First I test to see if the existing Vision Bonnet I was working by putting it on a the Pi Zero WH that came with the kit. I used a brand new SD card using the `aiyprojects-2018-08-03.img.xz` image. This resulted in the same error:

[2018-09-23 17:13] mikeyroth commented on #475
I also have a pop at the end when using aiy.audio.say()

[2018-09-24 16:44] chadwallacehart commented on #490
I tried remaking the face_detection_camera.py code a bit to avoid using the `inference.run()` generator and it seems to have fixed my issue:
[code]

I ran this for 267120 frames (~7 hours) and it never stopped.

I then ran [face_detection_camera.py](https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/examples/vision/face_detection_camera.py) immediately after and that crashed with

[2018-09-25 06:49] rangodjango commented on #440
Hi there, I am newbie in raspi and currently using vision kit v1.1. I did add some new lines in joy_detector_demo.py so that it able to connect with GPIO and test it out. But when I run command ./joy_detector_demo.py in terminal, the button leds looks like mixed flip-flop when pointing the camera to the face...

There are also errors that I got as below:
mmal:mmal_vc_port_enable: failed to enable

[2018-09-25 07:07] manoj7410 commented on #440
@rangodjango Seems like there is already a process running which is using camera module. Can you make sure that the joy_detection_demo has been stopped which starts at every boot.

Run the command : "sudo systemctl stop joy_detection_demo" and then start your joy demo. At least this ENOSPC should go away.

[2018-09-25 07:12] RickZLLiao commented on #495
I had predicted embedded mobilenet ssd v1 in the PC, and i could detected my target。When i loaded model in the vision kit, it couldn't detect angything. I had lower my min threshold, but i got nothing.
What's wrong with my setting ?

[2018-09-25 07:49] rangodjango commented on #440
Your're right. It should turn off the joy_detection_ demo first. Just realized that we run this code first before run others demo as well. Now it's working. No more ENOSPC. Thanks @manoj7410

[2018-09-25 07:54] jfatula opened #496 "aiy.audio.record_to_wave() fails on second invocation"
In working with VoiceKit (V1) on a Pi3 using the August 3rd 2018 AIY projects image, I've found that a second call to aiy.audio.record_to_wave() fails with a threading error. As an example, this test code:
[code]
throws this runtime error on the second call:
[code]
Until an official patch is available, for my limited needs I'm using the following substitute as a temporary workaround to explicitly

[2018-09-25 09:23] rangodjango commented on #440
I just face new obstacles. The joy detector is not working once it booted. No button LED and privacy turned on. I did try to run sudo systemctl stop joy_detection_demo at first. It says "failed to stop joy_detection_demo" . Attempts that I did was changing config.txt , i set overvoltage=4. Then,I did try to run the command ./joy_detection_demo.py to see whether it works, it shows message:

" Warni

[2018-09-25 17:16] chadwallacehart commented on #490
After some more tests my code above does still fail. In the same test it stopped after `22771` frames.  In a second it went for a long while at `504964` before the exception. I trying to see if I can catch and continue on the exception.

[2018-09-25 18:20] fjulian79 commented on #356
Sorry for the delay, I was on vacation and the notification ended up in the spam folder ;-)

I have the old v1 kit.

Btw .. I tried what happens when starting with a clean raspbian image and then coning the aiy git repo by hand and installing the drives etc. --> sound was ok then, but I can not remember each and every detail. I think I was able to reproduce the the mic problem in the end with this

[2018-09-25 23:37] nciervo opened #497 ".."

[2018-09-25 23:37] #497 closed, assigned to nobody

[2018-09-26 10:41] DamienFontaine commented on #356
Same problem but i fixed it with :
[code]
Where 1 is my alsa_input.hw_0_0. You can find this information with :
[code]

[2018-09-26 11:24] JakeMalis commented on #460
How would I make it so that the bounding boxes are in real time, rather than having it take a photo when a object is detected and putting the bounding box on later? PS. Sorry I took so long to respond, school was starting and I was busy.

Thanks!

[2018-09-26 11:59] giacomobartoli commented on #460
Again, take a look at my repository. You need those two libraries + a protobinary file.

[2018-09-26 18:20] joekh1 opened #498 "UP board"
Dear Sir,

Can I use this library on Up board that runs on Ubuntu 16.04 LTS instead of a raspberry pi?

Thank you,

[2018-09-26 23:30] JakeMalis commented on #460
I can't figure out how to make it work real-time. Even following along with your code.

[2018-09-27 03:26] manoj7410 commented on #498
@joekh1 This needs to be given a try. This should work because both(Ubuntu and Raspbian) are Debian based distributions but haven't tested it yet.

[2018-09-27 03:32] manoj7410 commented on #493
@jimmy95 Can you run : "arecord -d 5 -f cd test.wav" (And speak for 5 seconds)
Then run : "aplay test.wav" (Do you hear what you spoke ?)

And can you share the output of "lsmod" ?

[2018-09-27 07:42] giacomobartoli commented on #460
Open an issue into my repo and I'll be glad to help you.

[2018-09-27 13:31] robferrero commented on #181
I've redownloaded the latest SD image from here :
https://dl.google.com/dl/aiyprojects/aiyprojects-latest.img.xz

the file is called
aiyprojects-2018-08-03.img.xz

and I've succesfully tested italian speaking language with Assistant _gRPC_demo.py on Google DIY-Voice v1
adding only  aiy.i18n.set_language_code('it-IT')

in the code of src/examples/voice/assistant_grpc_demo.py

    status_ui.status('

[2018-09-28 00:13] RickZLLiao commented on #495
I check the score, and i found background scores were larger than target scores.  I try to label larger target , and train it. I found target scores could larger than background scores. And i could detect target object.
Why i must label larger target image, then i could get larger scores ?

[2018-09-28 09:23] rangodjango opened #499 "How to make face_detection_trigger by default when started using the kit (vision kit v1.1)"
Hi everyone. I am currently using vision kit v1.1 and as all we know, start up demo is joy_detector_demo by default. How can I set it to face_detection_trigger by default when vision kit begin startup? I am new in this and your advises is much appreciated.  Thank you.

[2018-09-28 10:22] manoj7410 commented on #499
@rangodjango Very first thing is to stop the joy_detection_demo from starting on every boot.
Run the command :
"sudo systemctl stop joy_detection_demo" ==> To Stop
Then,
"sudo systemctl disable joy_detection_demo" ==> To disable from starting at every boot.

Now is the time to create a service which will start face_camera_trigger. You can follow the instructions given at : https://aiyprojects.with

[2018-09-28 21:19] mikeyroth commented on #303
I get
    assistant.send_text_query('Repeat after me: %s' % text)
AttributeError: 'Assistant' object has no attribute 'send_text_query'

[2018-09-28 22:24] kochinc commented on #303
@mikeyroth
You need to update your google-assistant-library.

[2018-09-30 15:36] mikeyroth commented on #303
I thought I had.  I am a newbie, but this time I used pip3 instead, and now I got it working   Thanks!  This was very helpful

[2018-10-01 18:53] #499 closed, assigned to nobody

[2018-10-01 18:55] dmitriykovalev commented on #181
@robferrero Thanks for checking this!

[2018-10-01 18:58] dmitriykovalev commented on #498
@joekh1 You have to install all required drivers first, check https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/HACKING.md for details.

[2018-10-01 19:02] dmitriykovalev commented on #440
@rangodjango Looks like something happened with your setup. You can flash SD card again and start from the working state.

[2018-10-04 10:44] pierrextardif opened #500 "_player.py play_wave() not working"
I got an error when trying to play a wav file.

I believe the error comes from the with statement in the _player.py :
```         with wave.open(wav_path, 'r') as wav: ```

Replaced it with :
```         wav = wave.open(wav_path, 'r') ```

and it worked.

[2018-10-04 10:47] manoj7410 commented on #500
@pierrextardif Did you make any changes in Python version  ?

[2018-10-04 10:48] pierrextardif commented on #500
No,

I use python 3.

line 64 of the aiy/_drivers/_player.py, I changed the with statement:
```with wave.open(wav_path, 'r') as wav:```

Replaced it with :
```wav = wave.open(wav_path, 'r')```

[2018-10-04 18:53] MapAfficionado commented on #401
Most USB power supplies are 5V and 2.1A output. If you used 3.5A power supply, wouldn't that damage Raspberry Pi Zero W as it would have higher than 5V input to it? I do have a "Universal AC/DC Adapter [https://www.rhino-tek.com/products/example-pst-3000mfu-12-volt-dc-3000ma-power-adapter-with-multiple-dc-outputs-dc-plugs](url) but am hesitant to use it. Could you tell me which power supply did yo

[2018-10-04 23:56] jfatula commented on #500
Looks like context manager support using with was added for wave.open() at Python 3.4.
[https://python.readthedocs.io/en/latest/whatsnew/3.4.html](url)

[2018-10-05 08:11] cyan198 commented on #356
@DamienFontaine solution increases the recording volume. Just find the right % cause of the background noise level. Thanks a lot!

[2018-10-05 09:30] algila commented on #366
Appear to me that the temperature of the processors is quite high.
Next week I will try to measure.
Is it recommended to add a dissipator on Myriad2 and/or Raspberry chip ?
I would use the kit for multiple hours  (8h / days)

[2018-10-05 21:44] dmitriykovalev commented on #500
Please update you python version, @jfatula is right.

[2018-10-05 21:44] #500 closed, assigned to nobody

[2018-10-05 21:45] dmitriykovalev commented on #498
Please open new issues if you have problems installing our drivers to Ubuntu.

[2018-10-05 21:45] #498 closed, assigned to nobody

[2018-10-05 21:46] #487 closed, assigned to nobody

[2018-10-05 21:47] #467 closed, assigned to nobody

[2018-10-05 21:48] dmitriykovalev commented on #491
All download links should work.

[2018-10-05 21:48] #491 closed, assigned to nobody

[2018-10-05 21:48] #477 closed, assigned to nobody

[2018-10-05 21:50] dmitriykovalev commented on #448
Looks like this problem doesn't happen anymore.

[2018-10-05 21:50] #448 closed, assigned to nobody

[2018-10-05 21:50] #444 closed, assigned to nobody

[2018-10-05 21:51] #438 closed, assigned to nobody

[2018-10-07 23:20] AvivaShooman opened #501 "error completing check cloud script, exception in speech request"
I am using the v1 voice kit, raspberry pi 3 and have looked all over for solutions online. I reinstalled the image, updated and upgraded all the files on the raspberry pi. I git pulled for the latest version of google aiy kit software. I checked my billing settings and made sure that they are linked to my project. However, I am still getting this error.

"Testing the Google Cloud Speech API...
Tra

[2018-10-09 05:17] rangodjango opened #502 "Setting the GPIO for vision kit v1.1"
Hi, all. I have an issue here regarding setting the GPIO vision bonnet v1.1. I am a newbie in Raspi. The issue is the GPIO that i assigned in joy_detection_demo.py did not give any signal or output. I did make changes on joy_detection_demo.py line by importing the libraries:

from time import sleep
from signal import pause
from aiy.vision.pins import LED_1
from aiy.vision.pins import PIN_A
from gp

[2018-10-10 02:31] jfatula commented on #501
You might want to use:
`pi@raspberrypi:~ $ timedatectl status
`
to check that your system clock is synchronized with NTP and that your timezone setting is correct.

[2018-10-11 21:38] dmitriykovalev commented on #502
Can you please make sure that you are using the latest SD card image from https://github.com/google/aiyprojects-raspbian/releases ?

[2018-10-12 14:22] andrewtvuong commented on #490
@chadwallacehart I face the same problem. Though I suspect the Pi is also partially to blame. Even without the Google Kit it occasionally slips, so I've written a restart script. I have managed to get it to livestream for over a month with about 10 crashes that were handled.

[2018-10-12 15:47] blandiant opened #503 "Assistant_library_demo doesn't detect the hotword"ok google", latest image, aiy voice kit v1 on rpy 3b"
Hi
I use the latest image, on a rpy 3B with aiy voice kit v1
As said in the title, with assistant_library_demo, the assistant doesn't detect the hotword "Ok google" (it work only 1 time out of 10,
while the google assistant on my phone detect it each time)
Except that everything else works just fine, i checked the volume of the mic, it is good(I turned up the volume to 200%: see issue #356) , When

[2018-10-13 12:19] Nojahhh commented on #321
Hi, I'm stuck when trying to run my application from rc.local. Seems as when I try to run it from rootlevel, even when I copied my credentials from userlevel assistant.json I get 403 forbidden error at device model. It runs fine under userlevel. I'm pretty positive I used the one and same account when creating the project and what I used to log in with. Anyone got any ideas? Thanks.

  File "/home

[2018-10-14 04:26] ghost opened #504 "Error Running Unique Commands"
When attempting to call Unique commands through the assistant, the whole process seems to crash.
Errors were encounted earlier with the apparent non existence of the module, but now the error is something else.
I am running a Raspberry pi 3

![image](https://user-images.githubusercontent.com/42822179/46912593-02f24300-cfbd-11e8-8b34-e94d94d7c839.png)

[2018-10-14 15:27] gitTinker opened #505 "Update kills vision"
Using prompted update kills the vision bonnet.

Using the v1.1 AIY Vision kit (purchased Aug 3 2018)
Reimage SD card with [aiyprojects-2018-08-03.img.xz](https://github.com/google/aiyprojects-raspbian/releases)
At this point the bonnet works (privacy LED lights, tone sounds, button colors with a smile).
the OS version (uname -a) is: Linux raspberrypi 4.14.52+ #1123 Wed Jun 27 17:05:32 BST 2018 arm

[2018-10-15 09:39] SwannSchilling opened #506 "Bounding Box Size"
Hello,
I am using the face_detection_raspivid.py, it seems to have the least load on the pi's cpu!
It all works out great, but since building a face tracking system, I realized that the len(faces)
sometimes also returns negative values for the face.bounding_box!
Which would be the numerical range that the face.bounding_box returns?
Is there a set min/max value?
How could I set the returned min/max

[2018-10-15 14:50] gtreen commented on #446
I'm trying to do the same thing, but with Pascal VOC (the one included in the AIY kit only finds people, cats and dogs and I want all 20 classes). Using their instructions, it's extremely slow. After about 400k iterations, I had the following:

 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.126
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0

[2018-10-15 20:58] dmitriykovalev commented on #504
Which SD card image do you use? Please download the latest one from https://github.com/google/aiyprojects-raspbian/releases.

[2018-10-15 21:00] dmitriykovalev commented on #321
Please make sure you can run this command using `sudo`. All credentials should be copied to the `/root` folder.

[2018-10-16 04:04] gyaaniguy commented on #356
@DamienFontaine What are you using to record the audio ? Command `pactl set-source-volume 1 500%` works, but pyaudio library still records in a low volume .  Probably because pyaudio doesn't use pulseaudio and pactl is a pulseaudio command.

[2018-10-16 04:15] manoj7410 commented on #505
@WP-tim apt-get update and upgrade is breaking the AIY modules and is a known issue as per AIY Tech Support response. So, an upgrade needs to be avoided.

[2018-10-16 04:22] manoj7410 commented on #503
@blandiant If I am speaking in North American accent then every time my "Okay Google" is detected with the latest image. Can you try with different accents and tones ? And make sure you have got a good internet connection.

[2018-10-16 07:13] DamienFontaine commented on #356
@kutchbhi I am using Golang + Portaudio(v19). May be the solution is to use the Portaudio library..

[2018-10-16 07:21] gyaaniguy commented on #356
@DamienFontaine Thanks, but pyaudio also works with portaudio, so not sure whats going on at my end... Does pactl affect alsa volume at all ?

[2018-10-16 12:35] giacomobartoli commented on #446
You can find Mobilenet pre-trained on the official website.
What is missing is embedded_ssd_mobilenet pretrained.

[2018-10-16 13:26] gtreen commented on #446
Yes, the issue is that this specific version of MobileNet (256x256, 0.125 depth multiplier) has no pre-trained version available. I wish they would publish it; it obviously exists somewhere because their cat/dog/person detector was trained using it as a base.

[2018-10-16 14:43] hyzhak commented on #304
@drigz @dmitriykovalev could you get new Assistant SDK, so we be able to try Media Response here?
This issue might be solved by new update https://github.com/googlesamples/assistant-sdk-python/issues/203

[2018-10-16 14:51] hyzhak commented on #304
As I see you still use old `0.1.0` version here https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/setup.py#L17 but we already could use modern one `1.0.0` https://github.com/googlesamples/assistant-sdk-python/blob/master/google-assistant-library/CHANGELOG.rst

[2018-10-17 12:31] t1m0thyj commented on #283
I just submitted a PR to add this functionality. Also wanted to make a note that although 10% seems like a low value to use, it actually corresponds to around 38% of the LED's full brightness according to the equation for linear LED PWM found [here](https://jared.geek.nz/2013/feb/linear-led-pwm).

[2018-10-17 12:52] mpember commented on #283
Since originally submitting this code, I have amended it.  The latest version can be found here:
https://github.com/mpember/aiyprojects-raspbian/blob/aiyprojects/src/aiy/_drivers/_led.py

I have two AIY kits.  Both came with the green button.  Since I wanted to use a different colour on one of the kits, I replaced the button an arcade button I bought in a kit of 10.  The kit that contained the ori

[2018-10-17 13:05] mpember commented on #503
@blandiant , is it possible that your microphone has fallen slightly out of place?  It is possible that the sensitivity of the hotword detection is such that it expects a slightly clearer audio than the regular voice recognition.

[2018-10-17 17:26] dmitriykovalev commented on #506
Thanks for reporting this! Looks like a bug in our code. Please make sure that bounding box is inside `(x=0, y=0, w=result.width, y=result.width)` rectangle where `result` is returned from `inference.run()` call.

[2018-10-17 17:53] asmagill commented on #505
@manoj7410, do you know if they are working on fixing it or is that the answer, "Never update the OS"?

[2018-10-17 20:26] dmitriykovalev commented on #304
We are going to use the latest assistant library in the next SD card image release. I don't have exact release date but probably during a month timeframe.

[2018-10-17 20:29] dmitriykovalev commented on #505
We are working on the fix in the next SD card image release.

[2018-10-18 06:00] genus1 commented on #481
I have tried about everything.  I even dropped from 64 gig to 32 gig to make sure formatted fat.  I can update and upgrade all the raspbian no problem.  Wifi test works, audio says, "You do not have any sound cards installed"  I used the dtoverlay above and another. I have version 2018-08-03.  I remember there was an 04 version but cannot find it.  I am going to build another raspberry pi3 with ne

[2018-10-18 06:07] genus1 commented on #481
I reconfigured and reboot and is says  you have voice hat (V1) installed at index 0!

But no sounds

Going to build another board as stated above.

[2018-10-18 06:45] genus1 commented on #481
I ran arecord -l and aplay -l and they both detected the board and listed card and device as 0.  It sees the card but is is normal for card and device to be the same for play and record?

I also wrote the program in aiy .asoundrc and it was correct no typo but the system said command failed.

ALSA lib conf.c:1852(snd_config_load1) _toplevel_:18:0:Unexpected char
etc
Playback open error: -22, Inval

[2018-10-18 12:51] t1m0thyj commented on #283
I recently bought an AIY kit and am using it with the original green button. The light is much brighter than the tiny LED I was using before which is why I wanted night mode.

I've been using the code in my PR for the past few days and haven't noticed any weird behavior with the light. In theory the two approaches should behave exactly the same, they're just multiplying by `self.brightness` at dif

[2018-10-18 13:53] mpember commented on #283
I guess my second approach was a bit of overkill.  If others are not having the same problem that I experienced, that's great.  I've got a few more of those replacement buttons.  I should probably try another LED/button and see if it just happens to be a dodgy bit of hardware in that specific kit.  I guess the only real improvement is that my second approach kept the maximum brightness for the **O

[2018-10-18 18:50] SwannSchilling commented on #506
This is the code I am running!
[code]

[2018-10-19 03:24] gitTinker commented on #505
Thanks all!  Anticipating and image that won't go stale (eg can be updated)

[2018-10-19 03:24] #505 closed, assigned to nobody

[2018-10-19 15:11] Nojahhh commented on #321
Hi Dmitri. Yes, my current command in rc.local looks like this:
`sudo -H -u pi python3 assistant_library_with_local_commands_demo2.py &`
I've tried to run it without -H and -user but get the same results.

What do you mean when you say "all credentials"? I've created a client ID through Google Cloud Platform and placed it in assistant.json at /root, is there another credential-file I'm missing?
I'

[2018-10-20 07:55] Colin1964 commented on #504
@Hcookie  I had a similar problem. Quick fix for me was to install pico2wav. See full thread on @t1m0thyj  repo here https://github.com/t1m0thyj/AssistantPi/issues/14#issuecomment-431383174

[2018-10-20 17:36] blandiant commented on #503
Hi,
Sorry for this late answer,
you were right, the accent is the problem, i speak and use the aiy voice kit in french, when i speak with the north American accent, it work.
 I guess it is not possible to change the accent "detection"?
Thank you

[2018-10-21 05:45] henryeherman opened #509 "Pulseaudio should be run in system mode"
Currently you can not run the demos on V1 hat as a systemd service since pulseaudio is running in user mode. One solution would be to run pulseaudio in system mode as a systemd service.

example service for running assistant_library_demo.py :

[code]

example service for running pulseaudio in system mode:

[code]

[Pulseaudio systemwide](https://www.freedesktop.org/wiki/Software/PulseAudio/Documen

[2018-10-22 05:34] manoj7410 commented on #321
@Nojahhh Did you try to run your application manually on terminal on rootlevel? Did it work ?

Can you share what happens when you perform below steps:

- `sudo su`
- `cp /home/pi/assistant.json /root`
- `cp /home/pi/AIY-projects-python/src/examples/voice/assistant_library_with_local_commands_demo.py /root`
- `cd /root`
- `./assistant_library_with_local_commands_demo.py`

I was able to run demo wi

[2018-10-22 19:45] genus1 commented on #481
I built a new system from a new kit and it works through the voice check.  I believe the problem is possibly in the new release of raspbian.  I am going to build another image using raspbain and the hacks and see if it will work with this hardware.  If so then my original system hardware was bad.

[2018-10-23 07:53] rangodjango opened #511 "How to perform face recognition?"
Hi all. I got a question. I am using vision kit v1.1, raspi version stretch. I am able to run face_camera_trigger.py on and can save captured image inside the working directory where face_camera_trigger.py located . The next steps is on how to make face recognition,means that able to recognize the person the picture and then send the output on the terminal,that's all .Any ideas? Your help is much

[2018-10-23 21:37] dmitriykovalev commented on #511
@rangodjango Our face detection model can only **detect** a face in the image, i.e. provide bounding box, face confidence score, and joy score. You cannot use it for face recognition, i.e. recognize a concrete person. You can try to train your own network for that.

[2018-10-25 07:22] chamcham115 opened #512 "[Q] Quantization level on bonnet comilper"
Dear everyone.
I have a question for bonnet compiler.

In tutorial, we can convert to trained model using bonnet compiler.
Can the converted model support model quantization ?

If it can support quantization, how many support quantization level?
FP16? INT8?

I just wonder this information.

Thanks.

[2018-10-26 02:48] trsbalaji commented on #224
Hi, I bought vision kit version 1.1. Normal Raspberry pi zero w boots fine. Once connected  MIPI flat flex cable to Raspberrypi zero w board is not booting.

https://aiyprojects.withgoogle.com/vision-v1/

Please help me.

[2018-10-26 04:28] trsbalaji commented on #224
Hi, I bought vision kit version 1.1. Normal Raspberry pi zero w boots fine. Once connected MIPI flat flex cable to Raspberrypi zero w board is not booting.

https://aiyprojects.withgoogle.com/vision-v1/

Please help me.

[2018-10-26 04:33] trsbalaji opened #513 "AIY Vision not working"
Hi, I bought vision kit version 1.1. Normal Raspberry pi zero w boots fine. Once connected MIPI flat flex cable to Raspberrypi zero w board is not booting.

https://aiyprojects.withgoogle.com/vision-v1/

Please help me.
![raspberrypizerow cable](https://user-images.githubusercontent.com/9653886/47544772-8ead7e80-d89d-11e8-8b81-47381487760a.jpg)
![raspberrypizerow and cable-board notbooting](https:

[2018-10-26 05:32] mpember commented on #492
There are some who have created alternative HATs that provide near-identical functionality.
https://github.com/shivasiddharth/custom-voice-hat

[2018-10-26 06:31] jfatula opened #514 "VoiceKit V1: debouncing the arcade button"
I'm currently using a VoiceKit V1 on a Pi3B with the latest AIY image.  While working on double-click logic for an assistant script, I noticed that when using
[code]
my callback function was quite often being called more often than the button was pressed.  Looking at the time between callbacks, a typical pattern was like this:
[code]
Pressing the button 15 times at 1-1.5 second intervals led to 21

[2018-10-26 09:09] dmitriykovalev commented on #514
Current debounce time in exactly 0.08 seconds: https://github.com/google/aiyprojects-raspbian/blob/93a6306438492464c25916b6b2f53d8e4750579b/src/aiy/_drivers/_button.py#L28

You can change it and see how everything works after.

[2018-10-26 09:13] dmitriykovalev commented on #513
Did you lock a small latch on the VisionBonnet's flex connector? Please also attach photograph of the bonnet board where flex contacts are visible.

[2018-10-27 02:51] trsbalaji commented on #513
Hi dmitriy, Thanks for your response. Connected flex cable board is not booting. Attached: photos

Could you please help me.

Thanks & Regards,

Balaji Babu

Attached:
![bonnetflexcableraspberrypizeroconnectpowersupply](https://user-images.githubusercontent.com/9653886/47598898-3b4c3680-d958-11e8-8e5f-aa51c286901c.jpg)
![visionbonnetandraspberrypi3zero](https://user-images.githubusercontent.com/96

[2018-10-27 03:25] trsbalaji commented on #513
Hi dmitriykovalev,

Raspberry pi zero reverse flex cable  connected bonnet vision board is booting.  Bonnet connected with camera

Getting error message

raspistill -w 1640 -h 922 -o image.jpg
mmal: Cannot read camera info, keeping the defaults for OV5647
mmal: mmal_vc_component_create: failed to create component 'vc.ril.camera' (1:ENOMEM)
mmal: mmal_component_create_core: could not create compone

[2018-10-27 06:39] dmitriykovalev commented on #513
VisionBonnet on your photo is not connected correctly. You connected short flex to the camera connector and that's wrong. Please carefully follow the steps from https://aiyprojects.withgoogle.com/vision/#assembly-guide

[2018-10-27 15:44] levente-levai commented on #433
Any update on this?

[2018-10-28 01:00] dmitriykovalev commented on #433
This is something that can be done but that's not the highest priority right now.

[2018-10-28 03:54] dfresh613 commented on #240
Hello! I too ran into this problem. I Dug around the code a little bit and found a workaround.

You must set `aiy.audio._voicehat_recorder = None` anytime you close the recorder or stop the thread:

[code]

The problem is that the _drivers._recorder is a subclass of threading.Thread, and it's not being treated properly by aiy.auido.

After running get_recorder, you can call recorder.stop(), and  _

[2018-10-28 04:01] dfresh613 commented on #240
An example workaround more specific for the OPs problem:

[code]

[2018-10-28 07:19] lestig opened #515 "Audio does not work after re-imaging/installing voice kit 2 Pi Zero (Original HW)"
I have spent a few hours chasing this one without luck, so decided to ask for some guidance...

**Problem**
'Do not have sound card error message' - after reimaging the SD card and installing with the latest build available.

- I am using the original hardware.  AIY voice kit v2.0
- BUILD: [(2018-08-03)](https://github.com/google/aiyprojects-raspbian/releases/tag/v20180803).
- Tried adding a line

[2018-10-29 05:03] choconnit opened #516 "Voice V1 button.wait_for_press() failed to add edge detection"
Hello,
I tried the example cloudspeech_demo.py, and get_led() returned a warning: “channel is already in used" then segmentation faulted on button.wait_for_press with runtime error: failed to add edge detection.
Please help, my Voice Kit version 1 is running the 2018-08-03 image on a RPi 3B+. All the check routines work fine.
Thank you,
DT

[2018-10-29 06:59] ghost commented on #240
It's working by adding
        aiy.audio._voicehat_recorder.stop()
        aiy.audio._voicehat_recorder = None

Thank you dfresh613 for the workaround.

[2018-10-29 15:23] bowu-google commented on #512
bonnet does computation in 16-bit float (half float)

[2018-10-29 15:37] trsbalaji commented on #513
Hi Dmitriy,

Thanks for your suggestion. Normal raspberry pi zero works fine after connecting vision bonnet getting below error.

mmal: mmal_vc_component_enable: failed to enable component: ENOSPC
mmal: camera component couldn't be enabled
mmal: main: Failed to create camera component
mmal: Failed to run camera app. Please check for firmware updates

Could you please help me.

Regards

Balaji Babu

[2018-10-29 16:33] manoj7410 commented on #513
@trsbalaji Can you make sure that you have stopped joy_detection_demo before trying another demo ?

Command to stop joy_detection is : "sudo systemctl stop joy_detection_demo"

[2018-10-30 02:30] trsbalaji commented on #513
Thanks for your timely help. Could you please tell me, where i will find to download  cat.jpg, dog.jpg file

[2018-10-30 02:31] trsbalaji commented on #513
Finally worked.  Thanks for your timely help

Could you please tell me, where i will find to download  cat.jpg, dog.jpg file

Thanks,
Balaji Babu

[2018-10-30 03:45] dmitriykovalev commented on #513
Test images can be downloaded using `make` command: https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/tests/images/Makefile

[2018-10-30 08:01] yiyowei opened #517 "voicebonnet led"
Hello. When I connect voice kit2 with WIFI, the led flashes red. But I can still attach the Internet, I wonder why this happens.

[2018-10-30 18:41] dirkk0 commented on #516
same here.
could it be that the actual version is wired for the zero, and the pins changed so the V1 won't work?

[2018-10-31 03:12] trsbalaji commented on #513
Hi, Thanks for your help. After download the hotdog.jpg image i run the program getting error message.

Sorry for the disturb. Could you please help me

pi@raspberrypi:~/AIY-projects-python/src/examples/vision $ object_detection.py  --input=hotdog.jpg --output=/home/pi/AIY-projects-python/src/examples/vision/result.jpg
Traceback (most recent call last):
  File "/usr/local/bin/object_detection.py",

[2018-10-31 08:01] dmitriykovalev commented on #513
Please download and flash the latest SD card image from https://github.com/google/aiyprojects-raspbian/releases

[2018-10-31 08:02] dmitriykovalev commented on #517
What exactly is wrong in your situation?

[2018-10-31 08:31] manoj7410 commented on #515
@tibre Can you paste the complete error ? And can you also share the output of the command "lsmod".

[2018-10-31 23:58] llealgt opened #518 "output node named "<output node>" does not appear in the graph"
I'm trying to deploy to a google aiy vision kit v2 a custom model trained with Keras API in Tensorflow,when compiling the model from a .pb Tensorflow file with the vision kit compiler i get:

output node named "<output node>" does not appear in the graph.
My question is, how can i get from tensorboard the output node passed to the compiler in the parameter --output_tensor_names?

I already tried t

[2018-11-01 11:21] rafaelassis16 commented on #296
@joserochabh Você conseguiu colocar em português ? Estou com os mesmos problemas, já mudei o i18n e até em outros arquivos que estavam en-US.

[2018-11-01 22:00] sjesusma commented on #472
Which is the quota?
I have had the same problem sometimes / days.

[2018-11-01 22:36] SinAHal opened #519 "Cannot broadcast messages between Voice Kit and Home Mini speaker"
In both the assistant_grpc_demo.py and assistant_library_demo.py examples I tried to broadcast a message from a voice kit to a home mini speaker and nothing happened.
grpc_demo: the assistant responds with "ok, broadcasting message..." and nothing happens.
library_demo: assistant responds with "couldn't detect any other speakers on this network"
When I try broadcast a message from the home mini to

[2018-11-02 01:46] choconnit commented on #516
I'm sure there's a workaround somewhere!

[2018-11-02 21:53] 9600- commented on #516
Just wanted to add to this issue, as I am having problems with any example script referencing the GPIO pins for the button. Using Kit V1 with a Raspberry Pi 3B+.

[code]

[2018-11-02 22:17] 9600- commented on #516
My guess is this is possible GPIO pinout changes, or edge detection parameter differences, between the V1 Kit's intended platform (RPI 2B/3B) and the RPI 3B+.

If we could get some verification on this, it would be much appreciated.
These kits will be used in an educational lab, and the combination of 3B+ and V1 kits are all we have.

[2018-11-02 23:43] SinAHal commented on #519
I was able to change the device type of the voice kit from the "Actions on Google" page. The device type is now set to Speaker, however this has not changed anything and I still cannot broadcast messages between the voice kit and home mini.

[2018-11-03 00:50] geeksville commented on #420
@dmitriykovalev @LuwkasLima I think you should possibly reopen this. It seems to me the underlying problem is that aiy-dkms doesn't have proper triggers set in its deb file to force it to reinstall when the kernel is upgraded.  I suspect @LuwkasLima encountered the same thing I just encountered when I did an "apt-get dist-upgrade".  The raspbian folks updated the kernel, so a new kernel came down

[2018-11-03 03:42] choconnit commented on #516
After some trials and errors on Bluetooth pairing with Xbox One and my RPi 3B+, Google voice examples worked flawlessly.  I can’t recall the steps but will try to retrace the history.

Anyhow, when I boot my RPi 3B+ with a fresh image from 2018-08-03, Voice V1 works.  Then, right after I did update and upgrade, the examples stopped working with the same edge detection error.

[2018-11-03 11:59] dirkk0 commented on #516
I can confirm that.
If you skip the update and upgrade, and just install the json files, the button works.
Once you 'apt-get update' and -upgrade and reboot, the error is there.

[2018-11-03 17:55] lurfMalderFulder commented on #516
Downgrading RPi.GPIO to 0.6.3 fixes the issue. e.g. pip3 install RPi.GPIO==0.6.3

[2018-11-03 19:50] SinAHal commented on #519
The AIY projects image that I'm using is: aiyprojects-2018-08-03.img

Some info about my home mini:
System firmware version: 137090
Cast firmware version: 1.35.137090

[2018-11-04 00:06] lestig commented on #515
I made it work in a couple of ways:

1. I installed the 2018-04-13 build and it worked without issues.
2. Installed a fresh copy of raspbian (NOOBS v2_9_0) and followed the HACKING.md instructions.  There was a problem with the sound card driver enumeration Index (bcm2835 ALSA was enumerated first, Voicebonnet second).  Commented out '#dtparam=audio=on' on /boot/config.txt and that solved it (Dimi

[2018-11-04 02:01] lestig commented on #515
Well, with #2 above (Fresh copy of rasbian and following HACKING) I am able to test speaker and record but when trying the assistant_grpc_demo I get an error message:

Failed to import google.cloud.speech. Try:
    env/bin/pip install -r requirements.txt

I am not running a virtual environment.  Also, just replying to your previous ask here the lsmod output of my current configuration:
_--------
M

[2018-11-04 05:59] dmitriykovalev commented on #515
@tibre Can you please confirm that you used 2018-08-03 image with the VisionBonnet (v2.0) and sound check failed with `You do not have any sound cards installed` message right after the boot? It's pretty weird, especially if the same sound check works fine with 2018-04-13 build.

Can you please also attach the output of `dmesg` command right after the check fails?

[2018-11-04 06:02] dmitriykovalev commented on #519
That could be a limitation of [Google Assistant SDK](https://developers.google.com/assistant/sdk/overview)  which we use. It's probably better to submit an issue directly to SDK developers: https://github.com/googlesamples/assistant-sdk-python/issues

[2018-11-04 06:04] dmitriykovalev commented on #516
@9600- I actually saw the same `RuntimeError: Failed to add edge detection` issue recently. As @lurfMalderFulder already noticed, old version of `RPi.GPIO` doesn't have this problem.

[2018-11-04 06:06] dmitriykovalev commented on #420
@geeksville You are right, there are issues with current debian packages, we are going to fix this in the next SD card release which should happen pretty soon.

[2018-11-04 06:08] dmitriykovalev commented on #472
@sjesusma You can probably find this at https://console.cloud.google.com/

[2018-11-04 07:18] lestig commented on #515
@dmitriykovalev Yes, that's the file:

**MD5**
MD5 hash of aiyprojects-2018-08-03.img.xz:
386dafcc76c8539990e75e374f33b513
CertUtil: -hashfile command completed successfully.

**VoiceBonnet (v2.0)** not VisionBonnet
![voice_bonnet](https://user-images.githubusercontent.com/4122785/47961421-e9468900-dfc7-11e8-9f8d-884fe33873c7.JPG)

I will reimage an SD with that build and will give you details.  N

[2018-11-04 14:15] dirkk0 commented on #516
yes, that was it - thank you!

[2018-11-04 14:50] dirkk0 commented on #516
... and maybe unrelated, but I had to edit ```/etc/pulse/default.pa``` to get it to work.
Strangely enough: when I started the python script directly, everything worked fine. One I started it in a screen session on startup, it didn't. The error was
```ERROR:mic_failure_detector.cc(140)] [assistant] Channel 1 has failed``` and editing this file helped.

I needed to uncomment line 38 and 39 in ```/e

[2018-11-04 18:09] geeksville commented on #420
@dmitriykovalev btw your kit is really cool.  I just spent an afternoon yesterday using it to make this twitterbot: [hummingbot](https://twitter.com/hummingbot1).  Photo [here](https://www.thingiverse.com/thing:3195761/files). It worked great and was super easy, if there is any interest I wouldn't mind doing a small writeup.

Keep rocking it!

[2018-11-04 22:14] dmitriykovalev commented on #516
@dirkk0 Please create another issue with full description to track the problem with `/etc/pulse/default.pa`.

[2018-11-04 22:17] dmitriykovalev commented on #515
@tibre Sorry, right, that was a typo, VoiceBonnet :)  Please do not install any updates for now (we are working to fix this) That could be exactly the source of problems.

[2018-11-04 22:29] lestig commented on #515
@dmitriykovalev Thanks for the update.
That said, any ideas.suggestions how to move forward pass this message (when trying latest Noobe's install+HACKING instructions):

_Failed to import google.cloud.speech. Try:
env/bin/pip install -r requirements.txt_

[2018-11-05 08:17] dirkk0 opened #520 "ERROR: mic_failure_detector.cc"
After setting up a RasPi3 with the older AIY V1 from scratch using the the 2018-08-03 image, I ran into two issues: the 'edge detection' issue solved here #516 and this one:

When I started the ```assistant_library_with_button_demo.py``` script directly, everything worked fine. One I started it in a screen session on startup, it didn't.
The error was
```ERROR:mic_failure_detector.cc(140)] [assista

[2018-11-05 17:53] weiran-work commented on #518
@llealgt May I know what model architecture are you using?

Please note that due to limited resource on the device, only particular model architecture (with specific configuration) can run on the device. See here (https://aiyprojects.withgoogle.com/vision/#makers-guide--tensorflow-model-compiler)

Usually, the value to feed is the name of your final output tensor.

[2018-11-05 18:01] llealgt commented on #518
Thanks for your answer and help, yes i'm aware of the limitations in architecture , but in this case i'm using mobilenetV1 which the documentation says it's supported ,i also tried to write the .pb file as text to check if keras was doing some kind of renaming of tensors (which i confirmed was not done)  and i confirmed the output tensor is named "final_output/Sigmoid" but still the compiler canno

[2018-11-05 18:20] weiran-work commented on #518
@llealgt The compiler will use the output tensor name information to find a set of nodes that must have for the inference to run. If the output tensor name is wrong, it won't be able to figure out the set of nodes to do inference.

Do you mind to share a version of your pb file? That can help debugging.

[2018-11-05 20:16] petetum commented on #454
First error while configuring aiy-io-mcu-firmware:
failed to create symbolic link '/usr/lib/systemd/system/aiy_mcu_updater.service': No such file or directory

Second error wile configuring aiy-dkms:
dependency problems - leaving unconfigured
This package needs aiy-io-mcu-firmware to be configured first.

To resolve issue create the directory then configure both packages:

sudo mkdir /usr/lib/syst

[2018-11-06 07:39] llealgt commented on #518
I was not able to attach it here(it exceeds the 10 mb limit), so i pushed to one of my repos: https://github.com/llealgt/AIY_experiments/blob/master/trained_models/eagle_eye3.pb

[2018-11-07 23:37] weiran-work commented on #518
@llealgt
I took a closer look at your file. It seems to me this graph is a training graph, not a inference graph. Training graph contains a lot more operators (e.g., conditional branching) that our on device inference engine can not handle. Could you try to export a inference graph and give it another shot?

In addition, I'd suggest to try to train your model with the good old slim api. I know it

[2018-11-08 02:21] EddieOne opened #521 "Will Edge TPU support be added?"
Hi,

I'm looking for Edge TPU support but I don't have the hardware yet. I'm curious about the status and plans for that hardware.

Thanks

[2018-11-08 07:26] dmitriykovalev commented on #521
You can find information about Edge TPU on our website: https://aiyprojects.withgoogle.com/edge-tpu/

[2018-11-09 09:01] genus1 commented on #481
I finally got back to this project.  I now have three raspberry working.  It is NOT an issue of Pi3b or Pi3b+.  I have have the full system working with all demos on two boards.  I have determined either the original board or button is bad.  I will switch out the button tomorrow and see if it is the button or board.  I am receiving an error in _drivers/_button.py: GPIO.add_event_detect(self.channe

[2018-11-09 09:12] genus1 commented on #481
Not the button.  The software works in other boards.  Will need to swap the boards to see if it is the Pi or the sound hat.

[2018-11-09 17:29] f4n commented on #475
Same here, some workarounds available?

[2018-11-10 03:37] #521 closed, assigned to nobody

[2018-11-10 03:39] dmitriykovalev commented on #481
@genus1 Regarding `add_event_detect`, please check this https://github.com/google/aiyprojects-raspbian/issues/516#issuecomment-435644762

[2018-11-10 05:59] genus1 commented on #481
Let me recap.  I purchased on voice kit and it would not run at all.  I purchased three and all voice worked on pi3 and pi3b+, but only ONE would work all the way.  I purchased five total and got three to work.  The two failing had the error in _drivers/_button.py: GPIO.add_event_detect(self.channel, self.polarity  RuntimeError: Failed to add edge detection.

I exchanged two and purchased another

[2018-11-10 06:17] genus1 commented on #481
Problem solved downgrading the RPi.GPIO to 0.6.3 fixes the issue. e.g. pip3 install RPi.GPIO==0.6.3 as recommended in #516.

Google needs to fix this issue as an update immediately.  I already returned seven kits that could have been fixed by this software issue.  I did notice the light does not cleanup properly when closing the app, which could be fixed along with the segmentation error when shut

[2018-11-10 06:19] genus1 commented on #516
Downgrading RPi.GPIO to 0.6.3 fixes the issue. e.g. pip3 install RPi.GPIO==0.6.3.  See my comments at #481.  It is not a board or pin problem.  It is software.  The software needs to be updated immediately on github after fixing the RPi.GPIO

[2018-11-10 07:14] EddieOne commented on #521
ok, thanks. I will keep waiting. They said q3 of 2018. Sounds like AIY have some other software.

[2018-11-11 01:19] TheArduinist commented on #475
I also have the same problem. By using this code:

`cmd = 'pico2wave -w %s -l en-US "<volume level=\'40\'>hello</volume>"' % ('temp.wav')`
`subprocess.check_call(cmd, shell=True)`
`cmd = 'aplay %s' % ('temp.wav')`
`subprocess.check_call(cmd, shell=True)`

Which basically explicitly uses the command @TM-hub used, the pop was avoided in my case. I guess that means the problem might lie in the way tt

[2018-11-12 00:54] dmitriykovalev commented on #475
That's already fixed in our internal codebase, we'll publish to GitHub soon. That's the new code:

[code]

[2018-11-12 15:23] Tylersuard opened #522 "Piezo/LED not working and cannot use bluetooth speaker"
Hello.  I love the joy demo, it can detect smiles from across the room, and it’s pretty incredible to me that this tech exists.

The piezo and LED do not work, however, and never have for me.  I have made sure their connections are secure.

Also, I have followed instructions online for connecting bluetooth speakers to a pi zero, including updating Bluez and connecting via terminal, and still canno

[2018-11-12 18:02] dmitriykovalev commented on #522
Can you please verify that LED and piezo are not swapped?  They have the same type of connector.  By the way, are using the latest SD card image release from https://github.com/google/aiyprojects-raspbian/releases ? Regarding the bluetooth, I guess you need to find general Raspberry Pi guides how to configure it.

[2018-11-12 18:06] dmitriykovalev commented on #515
@tibre That's weird, how do you run cloud speech example, what's the command line?  This error message is obsolete but still shouldn't happen. Are you using `python3`?

[2018-11-12 18:11] dmitriykovalev commented on #420
@geeksville Thanks! Your project looks very cool! Would be nice if you can describe it at https://www.hackster.io/google/products/aiy-vision

[2018-11-12 20:22] lestig commented on #515
@dmitriykovalev It seemed odd to me as well.  Yes, I am executing using python3 as usual.  To recap:

1. Installed latest Rasbian build (Noobe 2.9.0)
2. Followed Hacking.md instructions _(Had a problem as bcm2835 ALSA drivers where enumerated 1st)__
3. Ensured only voicebonnet is enumerated and active - _commmented out 'dtparam=audio... _
4. Confirmed everything is functioning properly.  Can acces

[2018-11-12 22:01] geeksville commented on #420
@dmitriykovalev sure thing here you go: https://www.hackster.io/projects/1295f2.  I'm an ex-googler and if you ever do betas on new hw and want other demos I'd love to give it a shot. (sorry for spamming this issue btw ;-) ).

[2018-11-12 22:12] dmitriykovalev commented on #515
@tibre Have you installed https://pypi.org/project/google-cloud-speech/ library?

[code]

[2018-11-14 03:23] choconnit commented on #516
"My quest is to slay the beast of ignorance and to search for the most fascinating information", so my Google Assistant claimed.   Thanks everyone; downgrading the RPi.GPIO for version 1 works!

[2018-11-14 04:38] bgao opened #523 "Where is protocol.proto?"
Can anybody tell me where file protocol.proto is or from which .proto file [protocol_pb2.py](https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/aiy/vision/proto/protocol_pb2.py) is generated?

[2018-11-14 07:43] dmitriykovalev commented on #523
`protocol.proto` is not yet included in the source code. The protocol is already pretty stable, so we'll probably add it soon.

[2018-11-15 22:50] RootAculus commented on #420
@dmitriykovalev My daughter(12 years) is working hard on her Robot Guide Dog which has Aiy-Vision Bonnet. She is experiencing the exact same problem.

FileNotFoundError: [Errno 2] No such file or directoy: '/dev/vision_spicomm'

She researched online for solutions but no luck at all. She was very happy to find this issue and now she is wondering when the new SD Card release shall be available so s

[2018-11-16 05:43] #523 closed, assigned to nobody

[2018-11-16 05:45] #519 closed, assigned to nobody

[2018-11-16 05:45] #513 closed, assigned to nobody

[2018-11-16 05:47] #484 closed, assigned to nobody

[2018-11-16 05:48] #511 closed, assigned to nobody

[2018-11-16 05:50] #474 closed, assigned to nobody

[2018-11-16 05:53] #400 closed, assigned to nobody

[2018-11-16 15:27] ahmedtalbi opened #524 "Error compiling binaryprotobufs for FasterRCNN"
Hello,
I Know this hasn't been officially implemented yet, But I am trying to run FasterRCNN on the bonnet. However, Iget the following error:

**proto --input_tensor_name=Preprocessor/sub --output_tensor_names=concat,concat_1 --input_tensor_size=256 --debug
2018-11-16 15:19:38.873825: I external/org_tensorflow/tensorflow/contrib/lite/toco/graph_transformations/graph_transformations.cc:39] Before

[2018-11-16 23:37] choconnit commented on #516
Voice V1 works with the latest image 11-16-18.  That's after update/upgrade, without RPi.GPIO downgrade.  Thank you :)

[2018-11-17 19:40] dmitriykovalev commented on #385
We released [new SD card image](https://github.com/google/aiyprojects-raspbian/releases/tag/v20181116) with many fixes in debian package scripts. I hope previous issues should be resolved.

[2018-11-17 19:40] #385 closed, assigned to nobody

[2018-11-17 19:42] dmitriykovalev commented on #475
Fixed, you can try new SD card image: https://github.com/google/aiyprojects-raspbian/releases/tag/v20181116

[2018-11-17 19:42] #475 closed, assigned to nobody

[2018-11-17 19:44] dmitriykovalev commented on #466
@gqoew please reopen if that is still a problem for you.

[2018-11-17 19:44] #466 closed, assigned to nobody

[2018-11-17 19:44] dmitriykovalev commented on #464
Fixed, dependency was removed from the code.

[2018-11-17 19:44] #464 closed, assigned to nobody

[2018-11-17 19:48] dmitriykovalev commented on #458
That's fixed in the new SD card [image release](https://github.com/google/aiyprojects-raspbian/releases/tag/v20181116). There is an API to get LED instance which works on all boards: https://github.com/google/aiyprojects-raspbian/blob/5c74ce5154fe9ecdab5901e01b567d47fbdc068f/src/aiy/board.py#L294

[2018-11-17 19:48] #458 closed, assigned to nobody

[2018-11-17 19:49] dmitriykovalev commented on #489
Please reopen if that's still a problem.

[2018-11-17 19:49] #489 closed, assigned to nobody

[2018-11-17 19:50] dmitriykovalev commented on #478
We have an example of `.service` file which should work:

https://github.com/google/aiyprojects-raspbian/blob/5c74ce5154fe9ecdab5901e01b567d47fbdc068f/src/examples/voice/assistant_grpc_demo.service#L1-L26

[2018-11-17 19:50] #478 closed, assigned to nobody

[2018-11-17 19:51] #517 closed, assigned to nobody

[2018-11-17 19:52] dmitriykovalev commented on #501
Please try [new SD card image](https://github.com/google/aiyprojects-raspbian/releases/tag/v20181116), `check_cloud.py` was updated.

[2018-11-17 19:52] #501 closed, assigned to nobody

[2018-11-17 19:54] dmitriykovalev commented on #492
We've added VoiceHAT schematic files to the `docs` folder: https://github.com/google/aiyprojects-raspbian/tree/aiyprojects/docs/design/voice_hat

[2018-11-17 19:54] #492 closed, assigned to nobody

[2018-11-17 19:57] dmitriykovalev commented on #516
We released [new SD card image](https://github.com/google/aiyprojects-raspbian/tree/aiyprojects/docs/design/voice_hat) which has updated implementation of `wait_for_press`:
https://github.com/google/aiyprojects-raspbian/blob/5c74ce5154fe9ecdab5901e01b567d47fbdc068f/src/aiy/board.py#L101-L104

[2018-11-17 19:57] #516 closed, assigned to nobody

[2018-11-17 20:00] dmitriykovalev commented on #459
Wakeword (or hotword) cannot be modified, you can get more details by asking developers of [Assistant Library](https://github.com/googlesamples/assistant-sdk-python/).

[2018-11-17 20:00] #459 closed, assigned to nobody

[2018-11-17 20:01] dmitriykovalev commented on #449
We use the latest Assistant Library in [the new SD card image](https://github.com/google/aiyprojects-raspbian/releases/tag/v20181116).

[2018-11-17 20:01] #449 closed, assigned to nobody

[2018-11-17 20:02] dmitriykovalev commented on #457
`aiy-python-wheels` debian package is already fixed.

[2018-11-17 20:02] #457 closed, assigned to nobody

[2018-11-17 20:12] #514 closed, assigned to nobody

[2018-11-17 20:13] #512 closed, assigned to nobody

[2018-11-17 20:13] #504 closed, assigned to nobody

[2018-11-17 20:16] dmitriykovalev commented on #496
There is a new experimental Audio API in [voice/audio.py](https://github.com/google/aiyprojects-raspbian/blob/aiyprojects/src/aiy/voice/audio.py) now.

[2018-11-17 20:16] #496 closed, assigned to nobody

[2018-11-17 20:16] #437 closed, assigned to nobody

[2018-11-17 20:17] #439 closed, assigned to nobody

[2018-11-17 20:18] #428 closed, assigned to nobody

[2018-11-17 20:33] dmitriykovalev commented on #420
@geeksville Thanks for sharing your project on Hackster! Unfortunately for now all new hw testing is internal. Please take a look at https://aiyprojects.withgoogle.com/edge-tpu/ by the way :)

[2018-11-17 20:46] dmitriykovalev commented on #420
@RootAculus New SD card release is already available https://github.com/google/aiyprojects-raspbian/releases/tag/v20181116  If you are trying to set everything up on the original Raspbian image, please try to follow steps in [HACKING.md](https://github.com/google/aiyprojects-raspbian/blob/v20181116/HACKING.md).

iC4U looks great!

[2018-11-17 20:47] dmitriykovalev commented on #443
We released updated debian packages and new SD card image, please try to follow updated [HACKING.md](https://github.com/google/aiyprojects-raspbian/blob/v20181116/HACKING.md).

[2018-11-17 20:47] #443 closed, assigned to nobody

[2018-11-17 20:47] #518 closed, assigned to nobody

[2018-11-17 20:52] dmitriykovalev commented on #483
We have updated our debian packages, please try to follow new [HACKING.md](https://github.com/google/aiyprojects-raspbian/blob/v20181116/HACKING.md).

[2018-11-17 20:52] #483 closed, assigned to nobody

[2018-11-17 20:52] #493 closed, assigned to nobody

[2018-11-17 20:52] #421 closed, assigned to nobody

[2018-11-17 20:56] dmitriykovalev commented on #420
We have updated our debian packages, please try to follow instructions in [HACKING.md](https://github.com/google/aiyprojects-raspbian/blob/v20181116/HACKING.md) and `/dev/vision_spicomm` should be available after installing `aiy-vision-dkms` package.

[2018-11-17 20:56] #420 closed, assigned to nobody

[2018-11-17 20:56] #398 closed, assigned to nobody

[2018-11-17 20:57] #168 closed

[2018-11-17 20:58] #353 closed, assigned to nobody

[2018-11-17 20:59] #197 closed

[2018-11-17 21:00] dmitriykovalev commented on #340
That's been fixed in the latest code update, please take a look at `board.py`:

https://github.com/google/aiyprojects-raspbian/blob/5c74ce5154fe9ecdab5901e01b567d47fbdc068f/src/aiy/board.py#L286-L298

[2018-11-17 21:00] #340 closed, assigned to nobody

[2018-11-17 21:02] dmitriykovalev commented on #240
There a new recorder API in [voice/audio.py](url) now:

https://github.com/google/aiyprojects-raspbian/blob/5c74ce5154fe9ecdab5901e01b567d47fbdc068f/src/aiy/voice/audio.py#L132

[2018-11-17 21:02] #240 closed, assigned to nobody

[2018-11-17 23:10] geeksville opened #525 "Upgrading raspbian to aiy-projects-python 1.1 fails"
Hi,

In another issue I saw mention that new .debs were out with the latest goodness.  So I followed the directions in HACKING.md to add your apt server and did apt-get update/dist-upgrade.

Alas it failed when installing the aiy-projects-python deb.  Here's the relevant output fro apt-get dist-upgrade:

[code]

I haven't really poked around but I can later if you want extra info.

[2018-11-17 23:40] geeksville commented on #525
It seems some dependencies are incorrect (or I missed an upgrade step).

I ran the following to fix things then reinstalled from the deb:

[code]

[2018-11-18 04:54] yiyowei commented on #517
I connect wifi with the app AIY PROJECTS. I follow the instructions in the app.
After 5 seconds of pressing the button, the led is supposed to flash green as it always was.
But since I flashed the latest image, the led has flashed red. And I can still connect wifi.
Thanks.

[2018-11-18 06:57] dodysw commented on #420
I must not have done it in the right order, after following HACKING.md (upgrading from August 2018 SD card image release), I had to reinstall the package before `/dev/vision_spicomm` finally appeared.
[code]
Thanks for the instructions!

[2018-11-18 10:41] jannewmarch opened #526 "Setting up aiy-python-wheels: protobuf not supported on armv6.1"
I'm trying to setup Mycroft on the Voice Hat with an RPi 3B+. The install script calls
    sudo apt-get install aiy-python-wheels
This fails with
    protobuf-3.6.1-cp35-cp35m-linux_armv6.1 is not a supported wheel on this platform
Is this an AIY issue? Is there a fix or workaround?

Thanks, Jan

[2018-11-18 14:57] sjesusma commented on #472
Thanks @dmitriykovalev, my problem is in the quotas on Google Assistant API (max. 500 requests every 24h). When someone is developing, sometimes are required a lot more. I have asked to Google for an extension of this quota, I hope they accept it. :)

[2018-11-18 18:06] dmitriykovalev commented on #526
Thanks for reporting this. Technically this wheel is compatible and should work on RPi 3B+ but looks like `pip` is not happy about its name. Please use [our SD card image](https://github.com/google/aiyprojects-raspbian/releases/tag/v20181116) if possible, it should work on any Pi board.

[2018-11-18 18:07] dmitriykovalev commented on #472
@sjesusma Sounds good!

[2018-11-18 18:20] dmitriykovalev commented on #525
Doing dist-upgrade based on the previous SD card  image is problematic. Ideally you should take our latest SD card image and future upgrades should work (at least for all driver packages). Package `aiy-projects-python` is a different story, I'll post some updates here regarding this package.

[2018-11-18 18:24] geeksville commented on #525
Sounds good.  Fwiw after doing this my setup seemed to work fine (for my existing app)

[2018-11-20 05:58] xlyytcy commented on #526
Same issue on 3B.

[2018-11-20 09:09] wildtangent opened #527 "Running `apt-get upgrade` prevents the AIY demos from functioning"
Using the Vision kit + Pi Zero, after installing the latest AIY Raspian release ISO, and running `apt-get upgrade`, either via command line or via the installer prompt during first boot, after the update are all finished, the joy detector demo fails to launch.

There are a number of packages pertaining to the AIY which are uninstalled during the apt-get upgrade process, such as the leds, aiy etc

[2018-11-21 03:24] yourSylvia opened #528 "[Run assistant demo failed] OpenSSL.SSL.SysCallError"
I followed the instruction to run the assistant demo:
1. head to the URL
2. enter the authorization code
then I get the following error:
![image](https://user-images.githubusercontent.com/32641072/48817106-c7972100-ed7f-11e8-8e39-7460b0f719c4.png)
...
![image](https://user-images.githubusercontent.com/32641072/48817126-e0073b80-ed7f-11e8-950f-3ea93489735a.png)

Can anyone help? thx.

[2018-11-21 03:35] manoj7410 commented on #528
@yourSylvia Can you confirm that the date and time of your PI is matching the current date and time ?

And share the output of "cat /etc/aiyprojects.info".

The error says that there was a connection reset during the handshaking. Please check that your internet connection is working find without any restriction on it.

[2018-11-21 03:48] yourSylvia commented on #528
Thanks for your reply.
You're right. The current time of my Pi is not matching.
![image](https://user-images.githubusercontent.com/32641072/48817763-fe226b00-ed82-11e8-83e6-a5d2c55747fd.png)
I've been changed the sys time through the VNC viewer, but I have no idea why the time isn't changed.
BTW My network is working.

[2018-11-21 04:51] manoj7410 commented on #528
Can you try with the command :

sudo date -s "Wed Nov  21 21:31:26 UTC 2018" (Please correct the date and time as per your timezone)

And it seems like you are using an older build. Can you install https://github.com/google/aiyprojects-raspbian/releases/tag/v20181116 on your sdcard ?

[2018-11-21 06:02] yourSylvia commented on #528
I tried, but the output didn't change after cat /etc/aiyprojects.info.
![image](https://user-images.githubusercontent.com/32641072/48821908-1780e280-ed96-11e8-9ee7-c054c768e10c.png)

It seems that I have to flash my sdcard and reinstall the new version... and all the configurations I need to reset. Is there another way to update?

[2018-11-21 06:38] manoj7410 commented on #528
@yourSylvia "cat /etc/aiyprojects.info" gives you the build information. It tells when was this build created.
To check the current date and time you need to run "date" command I believe.

I just noticed that you are trying to set the timezone to HKT and I am not sure if all the demos will work in China due to restriction on Google services.

I recommend you to download the latest image from : htt

[2018-11-21 07:00] genus1 commented on #526
This is a challenge.  I had five boards working before the upgrade to button.wait_for_press().  I have a LOT of stuff on the pi besides just voice to be able to control boards with voice.  I literally have to start from scratch to rebuild these boards, which is really not a desired option.  Please post an upgrade here when the bug is fixed using upgrade.  Or in the meantime could you post the code

[2018-11-21 16:53] ankurp opened #529 "Getting Pin number or Bonnet Pin Access for Node.js"
How can we read from the GPIO pins via node.js

I want to connect a PIR motion sensor to this and have the power and ground wires connect and connected to Pin A but in nodes library I need to set the mode and the PIN number. What is the mode and the numeric PIN number?

[2018-11-21 18:59] csmcvea commented on #303
I am having the same and following your help.
Thank you.

[2018-11-22 00:31] jannewmarch commented on #526
andlo has posted a fix in the Mycroft forum [Setting up aiy-python-wheels: protobuf not supported on armv6.1 ](https://community.mycroft.ai/t/setting-up-aiy-python-wheels-protobuf-not-supported-on-armv6-1/5130/4)

[2018-11-22 04:02] genus1 commented on #526
This issue should NOT be closed until apt upgrade works properly.  Google needs to fix this or every time we update or upgrade we have to repatch.  Also it is NOT an answer to just download the current image when it overwrites all your code.

[2018-11-22 04:09] yourSylvia commented on #528
Hi, I reinstall the new sys and I got the same old problem.
![image](https://user-images.githubusercontent.com/32641072/48881263-5c1c8480-ee4f-11e8-9096-9bac350350ef.png)

Besides, I got a new problem, it seems that I tried to connect for too many times...
![image](https://user-images.githubusercontent.com/32641072/48881153-c08b1400-ee4e-11e8-95ad-4cf39047b08e.png)

[2018-11-22 04:26] genus1 opened #530 "Setting up aiy-python-wheels: protobuf not supported on armv6.1 revisited"
This was reported in #525 but was closed by the reporter.
protobuf-3.6.1-cp35-cp35m-linux_armv6.1 is not a supported wheel on this platform.

dmitriykovalev https://github.com/dmitriykovalev marked this as a bug as stated below

"Thanks for reporting this. Technically this wheel is compatible and should work on RPi 3B+ but looks like pip is not happy about its name. Please use our SD card image if

[2018-11-22 16:30] fdemberla opened #531 "Unable to run assistant_grpc_demo"
Traceback (most recent call last):
  File "/usr/local/bin/assistant_grpc_demo.py", line 6, in <module>
    exec(compile(open(__file__).read(), __file__, 'exec'))
  File "/opt/aiy/projects-python/src/examples/voice/assistant_grpc_demo.py", line 20, in <module>
    import aiy.assistant.grpc
  File "/opt/aiy/projects-python/src/aiy/assistant/grpc.py", line 17, in <module>
    import aiy._apis._speech

[2018-11-22 20:15] genus1 commented on #530
I tried a new build as dmitriykovalev stated above from scratch version 2018-11-16.  Audio check did not work on pi3b+ and the voice V1 hat.  I added the dtoverlay=googlevoicehat-soundcard to config.txt and it still does not work.
I think the new build with raspberry adding video etc may be interfering with the update.

I did a new update and upgrade and it said all was up to date.  I rebooted and

[2018-11-22 20:43] #531 closed, assigned to nobody

[2018-11-22 20:44] fdemberla commented on #531
had to install the NEWEST release of all the OS

[2018-11-23 04:30] manoj7410 commented on #530
@genus1 I just tested build version 2018-11-16 on my RPI 3B+ and check_audio is working fine on it. I have downloaded the build from https://github.com/google/aiyprojects-raspbian/releases/tag/v20181116

[2018-11-23 05:21] teslasmoustache commented on #526
I am having the same issue. This is not resolved. 'apt install aiy-python-wheels' is not going to work until whatever has changed in protobuf allows it to be compatible again.

[2018-11-23 16:47] novalu commented on #526
Actually, answer is not to download the current image, because it has the same issue.

I've tried to install packages manually on Raspbian images:
• 2017-09-07
• 2018-03-13
• 2018-11-13
and it didn't worked with the same error as @jannewmarch has.

Then I've gave it up and use flash provided image aiyprojects-latest.img.xz from 2018-08-07, but `apt-get upgrade` didn't work either with the same err

[2018-11-25 07:15] swhobbit opened #532 "AIY USB Gadget deletes ETH0"
System: 2018-11-16 AIY image on mid 2018 Raspberry Pi Zero W with a SMAYS Ethernet USB Ethernet adapter directly plugged directly into unit.

Upon boot, DHCP server shows both `ETH0` and `WLAN0` requested IPv4 addresses, but `ETH0` cannot be used by SSH or other services.  Inspection via `ifconfig` shows only devices LO and USB -- no ETH0.   ETH0 has been deleted, with no log messages in `syslog`,

[2018-11-25 19:39] swhobbit commented on #532
Also:
The default setup with  USSB/dnsmasq screws up DNS setup via DHCP, in particular it makes the DNS lookups ignore the DHCP assigned name servers and whatever local information they contain.

The `dnsmasq` daemon should be **not** activated if USB is not used for networking and `ETH0` **is**.

[2018-11-25 21:56] RootAculus commented on #420
@dmitriykovalev Thanks again...

She created a new SD Card with the latest released as you suggested.  This time she received an error message that suggests no camera connection.  She tried the camera(v 2.1) on Rpi 3B+ it worked, then she tried a different cable between bonnet and camera, this time camera is recognized but she received the following error message:

 _"No data recevied from sensor.

[2018-11-27 01:03] ryanbaejh opened #533 "Is it possible to use google aiy voice kit to create a translator?"
Like when you talk to them, they talk back to you

[2018-11-27 14:13] novalu commented on #526
New image version mentioned manoj7410 in #530 resolved this issue for me.

[2018-11-27 23:10] jimbo95-beep opened #534 "Mr James harris"
I have an aiy google assistant kit
I had to download the old image to get it to work the mic had stopped working so l used a PlayStation camera with mic built-in this worked after changing the settings on the new image which had installed once l had it running  on the old image l then set it up to
work  without have to put command prompt in the the terminal.  Its working fine . I am trying get it

[2018-11-27 23:17] jimbo95-beep opened #535 "Mr James Harris"
I have a raspberry pi 3 and the bluetooth has stopped working l did an up date and update sudo apt-get install pi-bluetooth and l have the latest version installed but l still can't get it to work l also run bluetooth comand scan its still will not work any help please?

[2018-11-28 10:20] why702 opened #536 "AIY vision convert with different input width/height"
Hi,
Because my model input size is 432x368.
But bonnet_model_compiler.par --input_tensor_size is only one number accepted.
How can I convert this model to bp for AIY vision kit?

[2018-11-29 07:50] dmitriykovalev commented on #535
Which AIY SD card image do you use? What exactly do you do to test bluetooth state, can you provide command lines and their outputs?

[2018-11-29 07:57] dmitriykovalev commented on #534
Could you please provide more details? E.g. what exactly fails and which settings did you change. Any command line output with error message would be very helpful.

[2018-11-29 09:51] why702 opened #537 "get the input when run CameraInference"
If I do the camera.capture after applying the CameraInference, will get the captured image with some frame delay.
Is it possible to get the input frame when I get the result of inference.run?
ex:
`for result, **input** in inference.run(num_frames): ...`

[2018-11-29 15:10] andrewtvuong commented on #533
yes it should be in terms of hardware. The easiest way I can think of is to utilize google translate API somehow. feed it your voice commands, let it parse it into text, send to google translate, receive translation, spit it back out.

[2018-11-29 15:15] andrewtvuong commented on #515
I've noticed certain programs no longer produce sound from 4-13-18 to 8-3-18. I'm not certain but it seems the culprit has something to do with switching to PulseAudio from ALSA? I don't know much about the subject.

[2018-11-29 15:18] andrewtvuong commented on #515
wow that's awesome! I'm new to the subject, but is there a way to have its model so I can run on device? like a small subset that recognizes common commands.

[2018-11-30 00:11] dmitriykovalev commented on #515
@andrewtvuong Yes, we switched to PulseAudio (it still uses ALSA underneath). Which programs don't work for you?

[2018-11-30 00:12] dmitriykovalev commented on #533
It's totally possible. Voice Kit gives you the hardware to input/output sound, everything else is software you can install and use.

[2018-11-30 00:18] dmitriykovalev commented on #532
@swhobbit I'll try to reproduce that. We don't do anything specific to remove `eth0`.

[2018-11-30 00:22] dmitriykovalev commented on #420
@RootAculus Are you trying to run VisionBonnet connected to Pi 3B+ ?  There is an issue here, it doesn't work on 3B+ but it works on 3B if you can find an additional flex cable. Can you try to check that everything works on Pi Zero?

[2018-11-30 03:21] andrewtvuong commented on #509
@dmitriykovalev Not part of AIY or Rasbian images:

Raspotify - https://github.com/dtcooper/raspotify
built from Librespot library for https://github.com/librespot-org/librespot

[2018-11-30 03:21] andrewtvuong commented on #515
@dmitriykovalev Not part of AIY or Rasbian images:

Raspotify - https://github.com/dtcooper/raspotify
built from Librespot library for https://github.com/librespot-org/librespot

[2018-11-30 05:28] avnishc18 opened #538 "Audio issue on V1 with RPI3B+. Showing sound card but not playing sound."
I have assembled V1 with RPI3B+. Using the latest SD image and updted as well on when it first booted.
when I am checking the audio check icon on the desktop, it says you have voice hat (V1) installed at index 0! But no sounds playing.

Can you please suggest the solution.

[2018-11-30 05:43] avnishc18 commented on #481
https://github.com/google/aiyprojects-raspbian/issues/481#issuecomment-430886265
how you solve this problem after this

how you solve this problem after this ? Same issue is comming with V1 and RBPI3B+.

[2018-11-30 08:26] RootAculus commented on #420
@dmitriykovalev  We are trying to use it on Pi Zero(One that comes out with the kit).
We thought that the camera might be broken so for troubleshooting purposes, we tried the camera(v2.1) on Rpi 3B+, not the Vision Bonnet. :)

Following message is from VisionBonnet on Pi Zero. (We tried the vision bonnet on different Zeros as well, still got the same error.)

_"No data recevied from sensor. Check

[2018-11-30 18:15] weiran-work commented on #536
@why702

Currently, bonnet_model_compiler only accepts model with square input size. If your model happens to be fully convolutional, you can try to compile the model regardless. You will have some accuracy loss if you do that.

Also, the input size is too big if you are using MobileNet V1 architecture.

Please see this page for more details on what type of model can be run on VisionKit. Overall,

[2018-11-30 19:44] jessecha opened #539 "Support request for custom tf model"
Hello, I would like to know if the compiler can support 3d cnn.
A full list of currently supported tf functions would be helpful.
The list on the website seems really short.

[2018-12-02 01:17] choconnit commented on #527
I have the same issue running the latest 2018_11_16 image on Vision Kit v1.1.
Joy Detector Demo failed on an instantiation of the Leds class, looking for the non-existent DEVICE_PATH = '/sys/class/leds/ktd202x:led1/device'

I'm stuck.  What does re-flashed the ISO entailed?

[2018-12-02 05:49] manoj7410 commented on #527
@choconnit You can download the sdcard image from : https://github.com/google/aiyprojects-raspbian/releases/tag/v20181116 and install it on your sdcard by using Etcher : https://www.balena.io/etcher/
apt-get upgrade might have some issue which is breaking the AIY modules.

[2018-12-02 22:58] ScenicSwisscoast commented on #420
same error here:  _FileNotFoundError: [Errno 2] No such file or directoy: '/dev/vision_spicomm_'.

this is with a brand new pi vision kit out of the box, and I downloaded the version 181116 and flashed it on a sd-card from here https://github.com/google/aiyprojects-raspbian/releases

I don't manage to get any examples in the folder ~/AIY-projects-python/src/examples/vision up and running

for exam

[2018-12-03 15:05] jpswade opened #540 "playing mp3s with omxplayer"
I'm logged in and trying to run the following:

https://www.raspberrypi.org/documentation/usage/audio/

However, no mp3s appear to play out of the speaker.

`/home/pi/AIY-voice-kit-python/src/say.py` works fine.

[2018-12-04 02:44] zye1996 commented on #495
Your training rate is too small. Change back to 0.004 would make a difference.

[2018-12-04 02:51] zye1996 opened #541 "Self-trained model worked on PC but not on Vision Bonnet"
Hi, I trained a model with 256*256 0.125 depth multiplier SSD-Mobilenet for object detection. The model is tested to work on my PC. But when I move it onto vision bonnet, it shows a bunch of target boxes in the view and seems targeting randomly.

Can anyone give any suggestion for debugging?

[2018-12-04 14:03] rutabaga76 opened #542 "Voice Kit - assistant demo not working?"
I'm a total newbie here. I'm a teacher, and have been trying to work through setting up the AIY Voice Kit with a few of my Intro to CS students this week. We made it through all the set up instructions online, the speaker and microphone tests worked fine. When we get to the step to "run the assistant demo", however, it did not run. It would error messages about lines of code. I didn't screenshot i

[2018-12-04 14:50] rutabaga76 commented on #542
Okay, I solved my own problem. I'm working on a Chromebook and had to use JSON viewer to open my credentials file. I was looking through the tutorial and noticed that my credentials file text did not look like that of the sample one given - mine was missing double quotes around "installed", "client_id", etc... so I went in and added quotes (the last line of the error message about expecting double

[2018-12-04 14:50] #542 closed, assigned to nobody

[2018-12-04 15:12] zye1996 commented on #537
Try put the capture into a thread. Refer to the face_detection example

[2018-12-04 16:33] andrewtvuong commented on #166
hey @charbull, did you ever get your answer? I have been wondering about this for quite a while. Essentially to send input in form of text by terminal to get voice pi to output what it would have done if I pushed a button and asked the same question by voice.

[2018-12-05 16:39] ankurp commented on #529
Any update. I am looking to connect to the bonnet GPIO pin but cannot use Python as my library for it. I want to connect a PIR motion sensor.

[2018-12-05 18:20] perronj2 commented on #527
@manoj7410 I had a the same problem after apt-get update & apt-get upgrade.

After reinstalling the latest AIY image (11/16/18) and NOT doing and update I was able to get the AIY modules to run.

[2018-12-06 01:39] dmitriykovalev commented on #529
You can use `sysfs` in order to control GPIO pins. There are many documentation sources, e.g. https://elinux.org/GPIO. To export our 4 pins you need to run:

[code]

You'll see exported pins as:

[code]

[2018-12-06 01:44] dmitriykovalev commented on #537
@why702 That's problematic for real-time performance. Raspberry Pi receives images via MIPI interface (fast) and inference data via SPI interface (slow). Sending image data over SPI is possible but would require a lot of time (we used that for debug internally). What's your use case?

[2018-12-06 01:47] dmitriykovalev commented on #541
Could you please share more information about your model and what exactly doesn't work in your case?

[2018-12-06 01:54] dmitriykovalev commented on #166
@andrewtvuong I guess you can do it by calling [send_text_query](https://developers.google.com/assistant/sdk/reference/library/python/#google.assistant.library.Assistant.send_text_query) function from Assistant Library API.

[2018-12-06 02:11] #541 closed, assigned to nobody

[2018-12-06 02:12] zye1996 commented on #541
My bad. I did not revise the decode function in objection detection file

[2018-12-06 03:08] asmagill commented on #527
This has come up a number of times in various issues... has anyone tracked it to specific packages which can be held back rather than just saying "don't run apt upgrade"?

[2018-12-06 03:28] andrewtvuong commented on #166
@dmitriykovalev Thanks for the suggestion. Tried that but wouldn't work for Pi Zero W, trying to hack a way, but probably unsupported due to grpc.

[2018-12-06 14:13] Cr4z33 commented on #526
How can I apply the new image update without having to reflash it again and loose all my settings?

[2018-12-06 17:50] weiran-work commented on #539
@jessecha

If you are talking about conv3d like this, https://www.tensorflow.org/api_docs/python/tf/nn/conv3d
No, we don't support that operator. All the operators supported are listed here.
https://aiyprojects.withgoogle.com/vision/#makers-guide

[2018-12-06 18:10] dmitriykovalev commented on #166
@andrewtvuong There is a `text_query` in [AssistConfig](https://developers.google.com/assistant/sdk/reference/rpc/google.assistant.embedded.v1alpha2#assistconfig) used in gRPC API. By the way, assistant Library API should work on Pi Zero without hotword detection.

[2018-12-07 13:58] darrenchiu opened #543 "ImportError: No module named 'aiy.pins'"
I am trying to control the LED with a very simple script but it doesn't seem to be able to import from `aiy.pins`. Could anyone shed some light on this?

my simple script:
[code]

Thanks a lot!

[2018-12-07 15:43] andrewtvuong commented on #166
@dmitriykovalev awesome, thanks for sharing! I've been trying to hack this for a while but put it down earlier this year.

[2018-12-08 16:31] seth-johnson-sp commented on #420
Same result here. I found that the problem occurs if on first startup I go through the configuration UI and accept the offer to update the software. If I boot from a fresh copy of this image (181116) and choose not to update the Raspbian software, then the AIY vision stuff works. It's the update that triggers the FileNotFoundError: [Errno 2] No such file or directoy: '/dev/vision_spicomm_'. error.

[2018-12-08 16:45] seth-johnson-sp commented on #527
I concur with this experience. Not-updating the Raspbian OS is the only way to ensure the AIY stuff will launch.

[2018-12-08 20:08] seth-johnson-sp commented on #346
As per the image titled "aiyprojects-2018-11-16.img.xz" I can confirm that the original problem of the OS crashing is solved by adding the following to /boot/config.txt

over_voltage=4
over_voltage_min=4

Do not run the upgrade afterwards. Don't run the upgrade before, either. If you upgrade raspbian you will lose the AIY software functionality with this AIY disk image.

[2018-12-10 08:17] samysinhg opened #544 "import error :no module name aiy.audio"
i am trying to run servo motors with the help of instructions given in magiPi but when i run the python it shows the  error

import error :no module name aiy.audio

[2018-12-10 08:20] samysinhg commented on #544
/home/samy/Pictures/Screenshot from 2018-12-10 03-18-57.png

[2018-12-10 08:21] samysinhg commented on #544
![screenshot from 2018-12-10 03-18-57](https://user-images.githubusercontent.com/22693299/49719252-a319c080-fc2a-11e8-89ee-e10a69fd37f2.png)

[2018-12-10 17:15] fabbbbb opened #545 "Trigger my Google Assistant App on pressing a button"
I have a AIY Voice Kit fully assembled and functional (I have tested the 3 demos.py sucessfully).
I managed to launch the demo where we have to push the button to launch the Google assistant.
But now I wan that it ONLY trigger my Google action (and directly launch « Welcome to XXXX app. Do you want… »).
How can I manage to do that ?